<main id="root">
 <div class="loading-screen-wrapper" >
        <div class="circle-wrap default">
        <img class="loading-screen-img" alt="loadingimg" />
            <div class="shiny-button-container">
                <div class="shiny-button-flex">
                </div>
            </div>
        </div>
            <div class="loading-circle-infinite-error"></div>
            <h1 class="loading-screen-img-h2">$TR!F3</h1>
            <h1 class="intrusion-warning">$TR!F3 - Uhh Ohh an ERROR Has Occured Please Report it to the Developer of $TR!F3</h1>
        </div >

</main>
