// Place all the styles related to the api::Calls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

div#videos > video {
  background: var(--black-500);
  width: 640px;
  height: 100%;
  display: block;
  margin: 1em;
}

#remoteVideo > video {
  background: var(--black-500);
  width: 640px;
  height: 100%;
  display: block;
  margin: 1em;
}

div#remote-video-container > video {
  background: var(--black-500);
  width: 640px;
  height: 100%;
  display: block;
  margin: 1em;
}

.strife-web-call-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--black-500);
  z-index: 10;
}

.strife-web-call-container2 {
  height: 100%;
  width: 100%;
}

.leave-call {
  text-transform: uppercase;
  background: var(--button-danger-background);
  border-radius: 4px;
  border: none;
  color: var(--white-500);
  padding: 10px;
  margin-left: 12px;
}

.join-call {
  text-transform: uppercase;
  background: var(--button-positive-background);
  border-radius: 4px;
  border: none;
  color: var(--white-500);
  padding: 10px;
  margin-right: 12px;
  min-width: 77px;
}

.join-call:hover,
.leave-call:hover {
  cursor: pointer;
}

.strife-web-call-container {
  // width: 100%;
  width: 100vw;
  height: 100vh;
  // overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#remote-video-container {
  margin: 0 auto;
}

#local-video {
  max-height: 15%;
}

#remote-video-container > video {
  max-height: 480px;
  min-height: 480px;
  margin: 0 auto;
}

.video-controls {
  max-height: 60px;
  display: flex;
  // justify-content: space-evenly;
  margin-top: 10px;
  margin-left: 12px;
}

#vidContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.local-video-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 500px;
}

.faint-boost-shiny-button.start-video-call-button,
.faint-boost-shiny-button.drop-video-call-button {
  min-width: 180px;
  max-width: 180px;
  max-height: 36px;
  min-height: 36px;
  font-family: var(--global-font);
  font-size: 16px;
  font-weight: 500;
  margin-left: 6px;
}

.faint-boost-shiny-button.start-video-call-button:disabled {
  box-shadow: 0px 0px 0px 0px var(--black-500-hsl-02),
    0px 0px 0px 0px var(--black-500-hsl-0141),
    0px 0px 0px 0px var(--black-500-hsl-0122);
  color: transparent;
  background-color: transparent;

  .icon-phone-2 {
    box-shadow: 0px 0px 0px 0px var(--black-500-hsl-02),
      0px 0px 0px 0px var(--black-500-hsl-0141),
      0px 0px 0px 0px var(--black-500-hsl-0122);
    fill: transparent;
    color: transparent;
    visibility: hidden;
  }

  .shiny-button-contents {
    box-shadow: 0px 0px 0px 0px var(--black-500-hsl-02),
      0px 0px 0px 0px var(--black-500-hsl-0141),
      0px 0px 0px 0px var(--black-500-hsl-0122);
    color: transparent;

    background-color: transparent;
  }

  .shiny-button-container {
    animation: none;
  }
}

.faint-boost-shiny-button.drop-video-call-button {
  background-color: var(--button-danger-background);
}

.icon-phone-2 {
  outline: 0;
  width: 24px;
  height: 24px;
  color: var(--interactive-normal);
  display: flex;
  transition: color 0.15s ease-in-out;
}

.faint-boost-shiny-button.start-video-call-button:hover {
  .icon-phone-2 {
    color: var(--interactive-hover);
  }
}
.faint-boost-shiny-button.start-video-call-button:active {
  .icon-phone-2 {
    color: var(--interactive-active);
  }
}

.faint-boost-shiny-button.drop-video-call-button:active {
  background-color: var(--button-danger-background);
  color: var(--white-500) !important;

  .disconnect-call-icon {
    color: var(--interactive-active);
  }
}

.faint-boost-shiny-button.drop-video-call-button:hover {
  background-color: var(--button-danger-background-hover);
  color: var(--white-500) !important;

  .disconnect-call-icon {
    color: var(--interactive-hover);
  }
}
.faint-boost-shiny-button.drop-video-call-button:active {
  background-color: var(--button-danger-background-active);
  color: var(--white-500) !important;

  .disconnect-call-icon {
    color: var(--interactive-active);
  }
}

.faint-boost-shiny-button.drop-video-call-button:disabled {
  box-shadow: 0px 0px 0px 0px var(--black-500-hsl-02),
    0px 0px 0px 0px var(--black-500-hsl-0141),
    0px 0px 0px 0px var(--black-500-hsl-0122);
  color: transparent;
  background-color: transparent;

  .disconnect-call-icon {
    box-shadow: 0px 0px 0px 0px var(--black-500-hsl-02),
      0px 0px 0px 0px var(--black-500-hsl-0141),
      0px 0px 0px 0px var(--black-500-hsl-0122);
    fill: transparent;
    color: transparent;
    visibility: hidden;
  }

  .shiny-button-contents {
    box-shadow: 0px 0px 0px 0px var(--black-500-hsl-02),
      0px 0px 0px 0px var(--black-500-hsl-0141),
      0px 0px 0px 0px var(--black-500-hsl-0122);
    color: transparent;

    background-color: transparent;
  }

  .shiny-button-container {
    animation: none;
  }
}

.disconnect-call-icon {
  outline: 0;
  width: 24px;
  height: 24px;
  color: var(--interactive-normal);
  display: flex;
  transition: color 0.15s ease-in-out;
}

.friend-index-item-wrapper-inner.call:hover {
  .friend-tag > span {
    visibility: visible;
  }
}

.friend-index-item-wrapper-inner.call {
  max-width: 640px;
  min-width: 640px;
}

.friend-index-item.call {
  max-width: 640px;
  min-width: 640px;
  margin-right: 0px;
  margin-left: 16px;
}

.x-to-close-video-call {
  color: var(--vid-call-exit-icon);
  cursor: pointer;
  z-index: 3;
  float: right;
}
