.channel-nav-bar {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-height: 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background: var(--background-secondary);
  overflow: hidden;
  position: relative;
  // height: calc(100vh - 49px);
  // transform: translate(72px, 0px);
}

.channel-nav-bar-container-wrapper {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-height: 0;
  position: relative;
}

.channel-nav-bar-top-container {
  cursor: pointer;
  position: relative;
}

.channel-nav-bar-top-container-header {
  cursor: pointer;
  position: relative;
  font-family: var(--global-font);
  font-weight: 500;
  padding: 12px 16px;
  box-sizing: border-box;
  z-index: 3;
  transition: background-color 0.1s linear;
  -webkit-box-shadow: var(--elevation-low);
  box-shadow: var(--elevation-low);
}

.channel-nav-bar-header-content {
  height: 24px;
  display: flex;
  align-items: center;
  color: var(--header-primary);
}

.channel-nav-bar-top-container-header:hover,
.channel-nav-bar-top-container-header.selected {
  background-color: var(--background-modifier-hover);
}

.channel-nav-bar-h1 {
  font-family: var(--global-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
  z-index: 1;
}

.channel-nav-bar-top-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  outline: 0;
}

.channel-nav-chevron {
  outline: 0;
  position: relative;
  z-index: 4;
}

.icon-chevron {
  position: relative;
  top: 3px;
  opacity: 0.8;
  transition: transform 0.2s ease-out, stroke-dasharray 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
  margin-left: 4px;
  z-index: 2;

  path {
    stroke-width: 2px;
    stroke-dasharray: 7;
    stroke-dashoffset: 1;
    transition: stroke-dasharray 0.2s ease;
  }
}

.icon-chevron-X {
  transform: translate3d(0, -3px, 0) rotate(-90deg);
  position: relative;
  top: 3px;
  opacity: 0.8;
  transition: transform 0.2s ease-out, stroke-dasharray 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
  margin-left: 4px;
  z-index: 2;

  path {
    stroke-width: 2px;
    stroke-dasharray: 14;
    stroke-dashoffset: 1;
    transition: stroke-dasharray 0.2s ease;
  }
}

.channel-nav-sep {
  outline: 0;
}

.channel-post-container {
  outline: 0;
  position: relative;
}

.channel-unread {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  padding: 8px;
  height: 24px;
  pointer-events: none;
  outline: 0;
}

.channel-unread-top {
  transform: translateY(-180%);
  opacity: 0.9;
  background-color: var(--background-accent);
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-family: var(--global-font);
  font-weight: 600;
  color: var(--white-500);
  height: 24px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 12px;
  pointer-events: auto;
  -webkit-box-shadow: 0 2px 6px var(--black-500-hsl-024);
  box-shadow: 0 2px 6px var(--black-500-hsl-024);
  -webkit-app-region: no-drag;
}

.channel-unread-top::before {
  top: -8px;
  content: "";
  position: absolute;
  left: -8px;
  right: -8px;
  bottom: 0;
}

.channel-unread-text {
  display: block;
  outline: 0;
}

.channel-nav-scroller {
  z-index: 1;
}

.ul-channels {
  height: auto;
  position: relative;
  list-style: none;
}

.u1-channels-blank {
  height: 0px;
}

.channel-li-item-cat {
  position: relative;
  padding-top: 16px;
}

.channel-li-icon {
  cursor: pointer;
  outline: 0;
  color: var(--channels-default);

  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  height: 24px;
  padding-right: 8px;
  padding-left: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel-li-icon:hover {
  color: var(--interactive-hover);
}

.main-channel-content {
  flex: 1 1 auto;
  overflow: hidden;
  outline: 0;
}

.main-channel-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.channel-icon-arrow {
  position: absolute;
  left: 2px;
  top: 6px;
  width: 12px;
  height: 12px;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.channel-icon-arrow.collapsed {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main-channel-content-h2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-family: var(--global-font);
  font-weight: 600;
  flex: 1 1 auto;
  color: var(--channels-default);
}

.main-channel-h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  outline: 0;
}

.main-channel-content-h2:hover {
  color: var(--interactive-hover);
}

.channel-plus-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.mapped-channel-ul {
  list-style: none;
}

.add-channel-button {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: transparent;
  color: currentColor;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: var(--global-font);
  text-rendering: optimizeLegibility;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}

.addButtonIcon:hover {
  color: var(--interactive-hover);
}

.icon-speaker {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  color: var(--channel-icon);
}

.default-channel-item {
  position: relative;
  transition: opacity 0.2s ease-in-out;
  // border-radius: 4px;
}

.def-channel-wrap {
  padding: 1px 0;
  overflow: visible;
  position: relative;
  outline: 0;
}

.def-channel-content {
  position: relative;
  box-sizing: border-box;
  padding: 0 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 0;
  border-radius: var(--radius-xs);
}

.default-channel-item:hover {
  .def-channel-content {
    background-color: var(--background-modifier-hover);
  }

  .default-channel-name {
    color: var(--interactive-hover);
  }

  .child-buttons {
    visibility: visible;
  }

  .cnb-child-button-icon {
    display: block;
  }
}

.default-channel-item.selected-channel {
  .def-channel-content {
    background-color: var(--background-modifier-selected);
  }

  .def-channel-a {
    cursor: default;
  }

  .default-channel-name {
    color: var(--interactive-active);
  }

  .child-buttons {
    visibility: visible;
  }

  .cnb-child-button-icon {
    display: block;
  }
}

.def-channel-a {
  outline: 0;
  text-decoration: none;
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  padding: 6px 0px;
  cursor: pointer;
}

.def-channel-a::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: 0;
  bottom: -1px;
  left: 0;
}

.def-channel-icon-container {
  position: relative;
  margin-right: 6px;
  outline: 0;
  //
  align-self: flex-start;
}

.channel-nav-bar-hash-icon {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  color: var(--channel-icon);
}

.default-channel-name {
  outline: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-family: var(--global-font);
  line-height: 20px;
  font-weight: 500;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  color: var(--channels-default);
}

.child-buttons {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  outline: 0;
  margin-top: 2px;
}

.cnb-child-button-icon {
  display: none;
  margin-left: 4px;
  padding: 6px 0px;
  position: relative;
  cursor: pointer;
  line-height: 0;
}

.channel-gear-icon {
  cursor: pointer;
  line-height: 0;
  width: 16px;
  height: 16px;
  display: block;
  color: var(--interactive-normal);
}

.create-channel-invite-icon {
  cursor: pointer;
  line-height: 0;
  width: 16px;
  height: 16px;
  display: block;
  color: var(--interactive-normal);
}

.open-chat-icon {
  width: 16px;
  height: 16px;
  display: block;
  color: var(--interactive-normal);
  cursor: pointer;
  line-height: 0;
}

.create-channel-invite-icon:hover,
.channel-gear-icon:hover,
.open-chat-icon:hover {
  color: var(--interactive-hover);
}

.channel-info-sep {
  outline: 0;
  margin-left: 12px;
  display: none;
}

.voice-channels-children {
  position: relative;
  padding-top: 16px;
}