@keyframes deleteFriendModalAppear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes deleteFriendModalAppear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes deleteFriendModalDisappear {
  from {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-webkit-keyframes deleteFriendModalDisappear {
  from {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes deleteFriendWrapperRender {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
  }
}

@-webkit-keyframes deleteFriendWrapperRender {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
  }
}

@keyframes deleteFriendWrapperUnRender {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.85;
  }

  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes deleteFriendWrapperUnRender {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.85;
  }

  100% {
    opacity: 0.6;
  }
}

.delete-friend-wrapper {
  outline: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none !important;
  pointer-events: none;
  z-index: 1002;
  -webkit-animation-name: deleteFriendWrapperRender;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  animation-name: deleteFriendWrapperRender;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.delete-friend-backdrop {
  outline: 0;
  pointer-events: all;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
  opacity: 0.85;
  background-color: var(--black-500);
}

.delete-friend-layer {
  outline: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.delete-friend-focus-lock {
  outline: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-width: 100%;
  user-select: none;
  z-index: 1500;
}

.delete-friend-modal-root {
  outline: 0;
  opacity: 1;
  transform: scale(1);
  box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
  width: 440px;
  max-height: 720px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--modal-pop-up-bg-color);
  border-radius: 4px;
  margin: 0 auto;
  pointer-events: all;
  position: relative;
  max-height: 100%;
  user-select: none;

  button[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--white-500);
  }

  z-index: 1505;
  -webkit-animation-name: deleteFriendModalAppear;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  animation-name: deleteFriendModalAppear;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.delete-friend-modal-root.transition-out {
  -webkit-animation-name: deleteFriendModalDisappear;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-name: deleteFriendModalDisappear;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.delete-friend-flex {
  outline: 0;
  transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
  word-wrap: break-word;
  border-radius: 4px 4px 0 0;
  flex: 0 0 auto;
  position: relative;
  padding: 16px;
  z-index: 1;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.delete-friend-modal-header {
  color: var(--header-primary);
  font-family: var(--global-font);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}

.delete-friend-modal-content-scroll-base {
  padding-bottom: 20px;
  position: relative;
  border-radius: 5px 5px 0 0;
  z-index: 0;
  outline: 0;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: hidden;
}

.delete-friend-modal-button-flex-wrapper {
  outline: 0;
  box-shadow: inset 0 1px 0 var(--primary-630-hsl);
  flex: 0 0 auto;
  border-radius: 0 0 5px 5px;
  background-color: var(--modal-footer-bg-color-button-wrapper);
  position: relative;
  flex: 0 0 auto;
  padding: 16px;
  z-index: 1;
  overflow-x: hidden;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.delete-friend-modal-submit-button {
  color: var(--white-500);
  width: auto;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  background-color: var(--red-danger-button-background);
  transition: background-color 0.17s ease, color 0.17s ease;
  position: relative;
  text-rendering: optimizeLegibility;
  font-family: var(--global-font);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.delete-friend-modal-submit-button:hover {
  background-color: var(--red-danger-button-background-hover);
}

.delete-friend-modal-cancel-button {
  cursor: pointer;
  font-family: var(--global-font);
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  width: auto;
  color: var(--white-500);
}

.delete-friend-modal-cancel-button:hover {
  text-decoration: underline;
}

.delete-friend-modal-text {
  font-family: var(--global-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-normal);
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  strong {
    font-weight: 600;
    outline: 0;
  }
}

.delete-friend-modal-sep {
  position: absolute;
  pointer-events: none;
  min-height: 0px;
  min-width: 1px;
  flex: 0 0 auto;
  height: 20px;
  outline: 0;
}

.delete-friend-modal-button-contents {
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    transparent 0,
    transparent 2px,
    transparent 0
  );
}
