.explore-server-base {
    forced-color-adjust: none;
    overflow: hidden;
    display: flex;
    outline: 0;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    transform: translate(309px, 0px);
    width: calc(100vw - 309px);
    height: 100vh;

}


.explore-server-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;
    position: relative;
    outline: 0;
    forced-color-adjust: none;
    user-select: none;
}

.explore-server-sidebar {
    outline: 0;
    forced-color-adjust: none;
    // display: flex;
    // overflow: hidden;
    // flex-direction: column;
    // min-height: 0;
    // width: 240px;
    // flex: 0 0 auto;
    background-color: #2B2D31;
    // background: hsl(223, 6.9%, 19.8%);
    user-select: none;
    left: 0;
    user-select: none;
    flex: 1;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    width: 234px;
    z-index: 2;
    top: 0;
    height: calc(100vh - 49px);
    transform: translate(75px, 0px);
}

.explore-server-sidebar-scroll-base {
    position: relative;
    box-sizing: border-box;
    min-height: 0;
    flex: 1 1 auto;
    overflow: hidden scroll;
    padding-right: 0px;
    outline: 0;
    forced-color-adjust: none;
}


.explore-server-sidebar-scroll-base::-webkit-scrollbar-track {
    border-color: hsla(0, 0%, 0%, 0);
    background-color: hsla(0, 0%, 0%, 0);
    border: 2px solid hsla(0, 0%, 0%, 0);
}

.explore-server-sidebar-scroll-base::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid #0000;
    border-radius: 4px;
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.explore-server-sidebar-scroll-base::-webkit-scrollbar-corner {
    background-color: #0000;
}

.explore-server-sidebar-scroll-base::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.exsbar-def-header-h2 {
    margin: 16px 0 16px 16px;
    font-weight: 700;
    forced-color-adjust: none;
    outline: 0;
    font-size: 25px;
    line-height: 30px;
    // color: #FFFFFF;
    color: #F3F4F5;
    font-family: "ABC Ginto Normal";
}

.explore-bar-item-cat {
    // color: hsl(216, 3.7%, 73.5%);
    color: #B8B9BF;
    margin-left: 8px;
    forced-color-adjust: none;
    outline: 0;
    display: block;
    padding: 1px 0;
    border-radius: 4px;
    box-sizing: border-box;
    transition: none;
}

.explore-bar-item-cat:hover {
    // color: hsl(210, 2.9%, 86.7%);
    color: hsl(228, 8.8%, 88.8%);

    .explore-bar-item-cat-inner {
        // background-color: hsla(217, 7.6%, 33.5%, 0.4);
        background-color: hsla(228, 6%, 32.5%, 0.3);
        cursor: pointer;
    }
}

.explore-bar-item-cat.selected-choice {
    color: hsl(0, 0%, 100%);

    .explore-bar-item-cat-inner {
        background-color: hsl(235, 85.6%, 64.7%);
    }
}

.explore-bar-item-cat-inner {
    height: auto;
    padding: 5px 8px;
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
}

.explore-bar-item-cat-avatar {
    forced-color-adjust: none;
    outline: 0;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.explore-bar-item-cat-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    forced-color-adjust: none;
    outline: 0;
    min-width: 0;
    flex: 1 1 auto;
}

.explore-bar-item-cat-nameAndDecos {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.explore-bar-item-cat-nameAndDecos-wrap {
    forced-color-adjust: none;
    outline: 0;
    white-space: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "Whitney";
}

.explore-server-page-wrapper {
    outline: 0;
    width: 100%;
    position: relative;
    forced-color-adjust: none;
    // color: #FFFFFF;
    color: #f3f4f5;
    // background-color: hsl(220, 7.7%, 22.9%);
    background-color: #313338;
}

.exs-drag-region {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    outline: 0;
    forced-color-adjust: none;
}

.exs-main-content-scroller-base {
    height: 100%;
    outline: 0;
    forced-color-adjust: none;
    padding: 32px;
    overflow: hidden scroll;
    padding-right: 16px;
    text-rendering: optimizeLegibility;
    position: relative;
    box-sizing: border-box;
    min-height: 0;
    flex: 1 1 auto;
    user-select: none;
}

.exs-main-content-scroller-base::-webkit-scrollbar-corner {
    background-color: #0000;
}

.exs-main-content-scroller-base::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.exs-main-content-scroller-base::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.exs-main-content-scroller-base::-webkit-scrollbar-thumb,
.exs-main-content-scroller-base::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.exs-main-content-scroller-base::-webkit-scrollbar-track {
    background-color: hsl(216, 7.2%, 13.5%);
}

.exs-main-content-scroller-base::-webkit-scrollbar-thumb,
.exs-main-content-scroller-base::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}


.exs-main-content-scroller-base::-webkit-scrollbar-track {
    background-color: hsl(210, 9.8%, 20%);
}

.exs-view-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1608px;
    margin: 0 auto;
    forced-color-adjust: none;
    outline: 0;
}

.exs-searchHeader {
    position: relative;
    text-align: center;
    margin-bottom: 32px;
    min-height: 200px;
    forced-color-adjust: none;
    outline: 0;
}

.exs-searchImg {
    display: inherit;
    border-radius: 8px;
    width: 100%;
    height: auto;
    forced-color-adjust: none;
    filter: 1;
    content: image_url('exserverssearch.svg');
    object-fit: contain;

}

.exs-header-content-wrapper {
    forced-color-adjust: none;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exs-header-content {
    width: 100%;
    min-width: 360px;
    max-width: 720px;
    margin: 0 240px;
    forced-color-adjust: none;
    outline: 0;

}

.exs-search-title {
    forced-color-adjust: none;
    outline: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-family: "ABC Ginto Normal";
    font-size: 25px;
    line-height: 30px;

}

.exs-search-subtitle {
    margin-top: 8px;
    forced-color-adjust: none;
    outline: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Whitney";

}

.exs-search-content {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;

}

.exs-search {
    forced-color-adjust: none;
    outline: 0;
    width: 100%;
    max-width: 560px;
    position: relative;
    margin: auto auto 16px;
}

.exs-search-box {
    forced-color-adjust: none;
    outline: 0;
    z-index: 2;
    background-color: hsl(0, 0%, 100%);
    padding-right: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-right: 16px;
    border-radius: 3px;
    border: 1px solid #0000;
}

.exs-search-input-wrapper {
    forced-color-adjust: none;
    outline: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.exs-search-input {
    forced-color-adjust: none;
    outline: 0;
    font-size: 16px;
    padding: 8px;
    color: hsl(210, 9.8%, 20%);
    border: none;
    font-weight: 500;
    background: #0000;
    height: auto;
    font-family: "Whitney";
    text-rendering: optimizeLegibility;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: none;
    transition: border-color .2s ease-in-out;

}

.exs-search-input::placeholder {
    color: hsl(226, 5.5%, 53.5%);
    text-rendering: optimizeLegibility;
    font-family: "Whitney";
    font-weight: 500;
}

.exs-search-icon {
    // color: hsla(217, 7.6%, 33.5%, 0.6);
    color: hsla(228, 6%, 33%, 0.6);
    forced-color-adjust: none;
    width: 1.4em;
    height: 1.4em;
    flex-shrink: 0;
    transition: color .2s ease;
}

.clear-exs-search-icon {
    line-height: 0;
    forced-color-adjust: none;
    outline: 0
}

.clear-exs-icon {
    cursor: pointer;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: hsl(216, 3.7%, 73.5%);
    width: 1.4em;
    height: 1.4em;
}

.close-exs-icon {
    color: hsl(215, 9.7%, 34.3%);
}



.guildListSection {
    width: 100%;
    margin-bottom: 32px;
    min-width: 580px;
    forced-color-adjust: none;
    outline: 0;
}

.gls-h3 {
    forced-color-adjust: none;
    outline: 0;
    font-family: "ABC Ginto Normal";
    // color: #FFFFFF;
    color: #F3F4F5;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.guild-list {
    forced-color-adjust: none;
    outline: 0;
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
}

.loaded-guilds {
    position: relative;
    forced-color-adjust: none;
    outline: 0;
}

.guild-card {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    transition: background .2s ease-out, opacity .2s ease-in, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, opacity .2s ease-in;
    transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, opacity .2s ease-in, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
    cursor: pointer;
    // background-color: hsl(220, 6.8%, 17.3%);
    background-color: #232428;
}

.guild-card-splash {
    forced-color-adjust: none;
    outline: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .2s, -webkit-transform .2s ease-out;
    transition: opacity .2s, transform .2s ease-out;
    transition: opacity .2s, transform .2s ease-out, -webkit-transform .2s ease-out;
    transform: scale(1);
    opacity: 0;
    opacity: 1;
}

.guild-card-splash-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    forced-color-adjust: none;
    outline: 0;

}

.action-buttons-layer {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 16px;
    top: 128px;
    forced-color-adjust: none;
    outline: 0;
}


.guild-card:hover {
    .action-buttons-layer {
        display: flex;
    }
}

.action-buttons-container {
    forced-color-adjust: none;
    outline: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.action-buttons-wrapper {
    forced-color-adjust: none;
    outline: 0;
    // background-color: hsl(220, 7.7%, 22.9%);
    background-color: #313338;
    box-shadow: 0 0 0 1px hsla(240, 11.1%, 1.8%, 0.15);
    display: grid;
    grid-auto-flow: column;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    transition: -webkit-box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
    position: relative;
    overflow: hidden;
}


.action-button {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 4px;
    min-width: 24px;
    flex: 0 0 auto;
    // color: hsl(216, 3.7%, 73.5%);
    color: hsl(231, 5.2%, 73.5%);
    cursor: pointer;
    position: relative;
}

.action-button:hover {
    color: hsl(228, 8.8%, 88.8%);
    background-color: hsla(228, 6%, 32.5%, 0.3);
}


.action-button-icon {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
    forced-color-adjust: none;
    outline: 0;
}


.guildIcon {
    forced-color-adjust: none;
    outline: 0;
    position: absolute;
    bottom: -21px;
    left: 12px;
}

.guildIcon-img {
    width: 48px;
    height: 48px;
    forced-color-adjust: none;
    border-radius: 50%;
    // border: 1px solid #292b2f;

}


.guild-card-header {
    forced-color-adjust: none;
    outline: 0;
    height: 143px;
    position: relative;
    display: block;
    overflow: visible;
    margin-bottom: 32px;
}

.guild-card-info {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    flex-direction: column;
    align-content: stretch;
    padding: 0 16px 16px;
    overflow: hidden;

}

.guild-card-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    forced-color-adjust: none;
    outline: 0;
}

.guild-card-star {
    forced-color-adjust: none;
    outline: 0;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-left: -2px;
    width: 16px;
    height: 16px;
    color: hsl(139, 47.3%, 43.9%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.guild-card-star-icon {
    width: 100%;
    forced-color-adjust: none;
    height: 100%;
}

.guild-card-star-icon-2 {
    width: 100%;
    forced-color-adjust: none;
    height: 100%;
    color: #FFFFFF;
}

.guild-card-child-container {
    forced-color-adjust: none;
    outline: 0;
    position: absolute;
    top: -0.05px;
    left: 0.05px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guild-card-h4-title {
    forced-color-adjust: none;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-family: "ABC Ginto Normal";
    font-size: 17px;
    line-height: 22px;
    // color: #FFFFFF;
    color: #F3F4F5;
}



.guild-card-text {
    forced-color-adjust: none;
    outline: 0;
    // color: hsl(216, 3.7%, 73.5%);
    color: #B8B9BF;
    flex: 1 1 auto;
    overflow: hidden;
    margin: 4px 0 16px;
    font-family: "Whitney";
    font-size: 14px;
    line-height: 18px;
    display: flex;
}


.guild-card-member-info {
    forced-color-adjust: none;
    outline: 0;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-family: "Whitney";

}


.guild-card-member-online-status {
    forced-color-adjust: none;
    outline: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    flex-shrink: 0;
    // background-color: hsl(139, 47.3%, 43.9%);
    background-color: #00a45e;
}

.guild-card-member-offline-status {
    forced-color-adjust: none;
    outline: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    flex-shrink: 0;
    // background-color: hsl(216, 3.7%, 73.5%);
    background-color: #c7c8ce;
}

.guild-card-member-count-txt {
    forced-color-adjust: none;
    outline: 0;
    font-weight: 400;
    // color: hsl(216, 3.7%, 73.5%);
    color: #B8B9BF;
    font-family: "Whitney";
    font-size: 12px;
    line-height: 16px;

}


.guild-card-member-count {
    forced-color-adjust: none;
    outline: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-right: 16px;
    display: flex;
    align-items: center;
}


.action-button-pop-up-layer {
    position: absolute;
    top: 0;
    left: 0;
    // right: 0;
    bottom: 0;
    background: none !important;
    pointer-events: none;
    z-index: 1002;
    forced-color-adjust: none;
    outline: 0;
}

.action-button-pop-up {
    forced-color-adjust: none;
    outline: 0;
    position: absolute;
    // top: 285.966px;
    // right: 740px;
    top: 150px;
    left: 95px;
    pointer-events: auto;
}

.action-button-pop-up-menu {
    forced-color-adjust: none;
    outline: 0;
    min-width: 188px;
    max-width: 320px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    height: auto;
    cursor: default;
    max-height: calc(100vh - 32px);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.24);
    background: hsl(225, 7.7%, 10.2%);
    border-radius: 4px;
}

.action-button-scroller {
    forced-color-adjust: none;
    outline: 0;
    // overflow: hidden scroll;
    padding-right: 0px;
    padding: 6px 8px;
    position: relative;
    box-sizing: border-box;
    min-height: 0;
    flex: 1 1 auto;

}

.action-button-pop-up-item {
    forced-color-adjust: none;
    outline: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    padding: 6px 8px;
    position: relative;
    margin: 2px 0;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    border-color: hsl(216, 3.7%, 73.5%);
    color: hsl(216, 3.7%, 73.5%);
    font-family: "Whitney";

}

.action-button-pop-up-item:hover {
    background-color: hsl(235, 46.7%, 44.1%);
    color: hsl(0, 0%, 100%);
}

.action-button-strife-server-link {
    forced-color-adjust: none;
    outline: 0;
    font-family: "Whitney";
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-button-pop-up-icon-wrapper {
    forced-color-adjust: none;
    outline: 0;
    flex: 0 0 auto;
    height: 18px;
    width: 18px;
    margin-left: 8px;
}

.action-button-pop-up-icon {
    forced-color-adjust: none;
    width: 18px;
    height: 18px;
}

.flex-to-end {
    display: flex;
    justify-content: flex-end;
}



.faint-boost-shiny-button.join-server {
    margin-top: 0px;
    min-height: 30px;
    height: 30px;
    width: 112px;
    min-width: 112px;
    max-width: 112px;
    max-height: 30px;
}

.guild-card {

    button[type="submit"]:disabled,
    button[type="button"]:disabled {
        cursor: not-allowed;
        opacity: .5;
        color: hsl(0, 0%, 100%);
        forced-color-adjust: none;
    }
}


.purple-icon-bk {
    box-sizing: border-box;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    forced-color-adjust: none;
    fill: rgb(88, 101, 242);
}

.bubble-wrap-bk {
    display: flex;
    // width: 80%;
    // height: 80%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    forced-color-adjust: none;
    outline: 0;
    transition: background-color .1s ease-out, color .1s ease-out;
}

.server-Acryo-bk {
    font-size: 16px;
    forced-color-adjust: none;
    outline: 0;
    font-weight: 500;
    line-height: 1.2em;
    white-space: nowrap;
    transition: background-color .15s ease-out, color .15s ease-out;
    display: flex;
    // width: 90%;
    // height: 80%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Whitney";
}


.guildIcon>svg {
    background-color: rgb(88, 101, 242);
    border-radius: 50%;
    border: 1px solid #292b2f;

    path {
        fill: currentColor;
    }
}




.guild-card-splash>svg {
    background-color: rgb(88, 101, 242);
    height: 100%;
    width: 100%;
    overflow: hidden;

    path {
        fill: currentColor;
    }

    // color: #5865f2;
    // overflow: hidden;
    // border-radius: 50%;
    // transform: translate(125px, -152px);
}

.guild-card-splash {
    #defaultPFPg {
        width: 100%;
        object-fit: cover;
        height: 100%;
        forced-color-adjust: none;
        outline: 0;

    }
}


.empty-server-state-container {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(223, 6.9%, 19.8%);
    padding: 80px 0;
    border-radius: 8px;
    max-width: 900px;
    min-width: 900px;
}

.epssc-h3 {
    margin-top: 32px;
    margin-bottom: 8px;
    forced-color-adjust: none;
    outline: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    font-family: "ABC Ginto Normal";
    color: #FFFFFF;
}

.epssc-st {
    font-size: 16px;
    line-height: 20px;
    forced-color-adjust: none;
    outline: 0;
    font-weight: 400;
    font-family: "Whitney";
    color: hsl(216, 3.7%, 73.5%);

}

.no-servers-found-img {
    background-image: image_url('noServersFound.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 314px;
    height: 145px;
    forced-color-adjust: none;
    outline: 0;
}

.epssc-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}