/*this file is to used as of now 04/30/2023
as a reference for commonly used styles.
*/
@use "sass:map";

//global
$global-font: "gg sans";


//box shadows
$dark-elevation-border: 0px 0px 0px 1px rgba(30, 31, 34, 0.6);
$dark-elevation-high: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
$light-elevation-border: 0px 0px 0px 1px hsla(210, 9.3%, 78.8%, 0.3);
$light-elevation-high: 0px 2px 10px 0px hsla(0, 0%, 0%, 0.1);
$tool-tip-elevation-high: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
$elevation-high: 0px 8px 16px rgba(0, 0, 0, 0.24);
$elevation-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
$elevation-stroke: 0px 0px 0px 1px rgba(2, 2, 2, 0.15);
$elevation-low: 0px 1px 0px 0px rgba(2, 2, 2, 0.2), 0px 1.5px 0px 0px rgba(6, 6, 7, 0.05), 0px 2px 0px 0px rgba(2, 2, 2, 0.05);
$cs-divider-color: rgba(114, 118, 125, 0.3);
//background colors
$modal-pop-up-bg-color: rgb(49, 51, 56);
$background-floating: rgb(17, 18, 20);
// $background-primary: $primary-600;
// $background-secondary: $primary-630;

//text colors
$header-primary: rgb(242, 243, 245);
$platform-wraps-header: #060607;
$platform-icon-header: #060607;
//general colors

$white-500 : rgb(255, 255, 255);
$white-500-hsl-01: rgba(255, 255, 255, 0.1);
$black-500: hsl(0, 0%, 0%);
$black-500-hsl-005: hsla(0, 0%, 0%, 0.05);
$black-500-hsl-01: hsla(0, 0%, 0%, 0.1);

$brand-260: rgb(201, 205, 251);
$brand-500: hsl(235, 85.6%, 64.7%);
$brand-500-hsl: rgba(88, 101, 242, 0.298);
$brand-560: rgb(71, 82, 196);
$brand-600: hsl(235, 46.7%, 44.1%);
$blue-345: rgb(0, 168, 252);
$primary-100: rgb(249, 249, 249);
$primary-150: rgb(41, 43, 47);
$primary-200: hsl(216, 9.8%, 90%);
$primary-230: rgb(219, 222, 225);
$primary-300: rgb(196, 201, 206);
$primary-330: rgb(181, 186, 193);
$primary-360: hsl(214, 8.1%, 61.2%);
$primary-400: rgba(78, 80, 88, 0.6);
$primary-401: rgb(128, 132, 142);
$primary-430: rgb(109, 111, 120);
$primary-500: rgba(79, 81, 89, 0.298);
$primary-500-hsl-20: rgba(0, 0, 0, 0.2);
$primary-500-hsl-30: rgba(78, 80, 88, 0.3);
$primary-500-hsl-60: rgba(78, 80, 88, 0.6);
$primary-500-bg-color: rgb(78, 80, 88);
$primary-500-48: rgba(78, 80, 88, 0.48);
$primary-501: rgb(78, 80, 88);
$primary-505: rgba(2, 2, 2, 0.06);
$primary-560: rgb(135, 137, 140);
$primary-600: rgb(49, 51, 56);
$primary-630: hsl(220, 7%, 18%);
$primary-630-hsl: rgba(43, 45, 49, 0.6);
$primary-660: #232428;
$primary-700: rgb(30, 31, 34);
$primary-730: hsl(225, 7.1%, 11%);
$primary-800: rgb(17, 18, 20);
$primary-800-lvl-2: rgb(56, 58, 64);
$primary-800-30: rgba(17, 18, 20, 0.3);
$primary-800-60: hsla(225, 7.7%, 10.2%, 0.6);
$red-400: hsl(359, 87.3%, 59.8%);
$red-400-2: hsl(359, 87%, 60%);
$red-430: hsl(358, 68.8%, 53.5%);
$red-345: rgb(250, 119, 124);
$red-500: rgb(161, 45, 47);
$gray-switch: rgb(128, 132, 142);
$green-switch: hsl(145, 65%, 39%);
$green-330: rgb(45, 199, 112);
$green-360: rgb(35, 165, 89);
$green-430: rgb(36, 128, 70);
$green-500: rgb(27, 103, 54);
$green-530: rgb(21, 86, 43);
$yellow-300: rgb(240, 177, 50);
$yellow-emoji: #ffc959;
$purple-100: rgb(255, 115, 250);
$platform-item-color: #747f8d;
$channel-icon: rgb(128, 132, 142);
$draft-editor: hsla(0, 0%, 100%, 0.0);
//button colors
$modal-footer-bg-color-button-wrapper: rgb(43, 45, 49);
$red-danger-button-background: rgb(218, 55, 60);
$red-danger-button-background-hover: rgb(161, 40, 40);
$button-underline-color: transparent;
$download-modal-close-button: #4f5660;
$download-modal-close-button-hover: #2e3338;
$button-outline-positive-background-hover: $green-430;
$button-outline-positive-border: $green-360;
$button-outline-positive-border-hover: $green-430;
$button-positive-background: $green-430;
$button-positive-background-hover: $green-500;
$button-outline-positive-background-active: $green-530;
$button-outline-positive-border-active: $green-530;

//scroll bar
$scrollbar-thin-thumb: hsl(225, 7.1%, 11%);
$scrollbar-thin-track: hsla(0, 0%, 0%, 0);
$scrollbar-auto-thumb: hsl(225, 7%, 11%);
$scrollbar-auto-track: hsl(220, 7%, 18%);

//var to var
$brand-experiment: $brand-500;
$brand-experiment-560: $brand-560;
$brand-experiment-600: $brand-600;
$background-primary: $primary-600;
$background-secondary: $primary-630;
$background-secondary-alt: $primary-660;
$background-modifier-accent: $primary-500-48;
$background-modifier-hover: $primary-500;
$background-modifier-selected: $primary-400;
$background-tertiary: $primary-700;
$channels-default: $primary-360;
$header-secondary : $primary-330;
$interactive-normal: $primary-330;
$interactive-hover: $primary-230;
$interactive-active: $white-500;
$text-link: $blue-345;
$text-muted: $primary-360;
$text-normal : $primary-230;
$text-danger: $red-345;
$text-warning: $yellow-300;
$text-positive: $green-330;
$input-background: $primary-700;
$input-placeholder-text: $primary-560;
$status-warning-background: $yellow-300;
$status-danger: $red-400-2;
$gemstone: $purple-100;
$guild-icon-border: $primary-150;
$mention-foreground: $brand-260;
$mention-background: $brand-500-hsl;
$channeltextarea-background: $primary-800-lvl-2;
$channeltextarea-placeholder: $primary-430;
$background-message-hover: $primary-505;


$strife-root: (
    colors:(black-500: hsl(0, 0%, 0%),
        brand-500: hsl(235, 85.6%, 64.7%),
        primary-330:hsl(215, 8.8%, 73.3%),
        primary-360: hsl(214, 8.1%, 61.2%),
        primary-600: rgb(49, 51, 56),
        primary-630: hsl(220, 7%, 18%),
        primary-630-hsl: rgba(43, 45, 49, 0.6),
        primary-730: hsl(225, 7.1%, 11%),
        red-430: hsl(358, 68.8%, 53.5%),
    ),
);

@function getColor($color) {
    @return map-get(map-get($strife-root, colors), $color);
}



$colors: (
    black-500: hsl(0, 0%, 0%),
    brand-500: hsl(235, 85.6%, 64.7%),
    primary-330:hsl(215, 8.8%, 73.3%),
    primary-360: hsl(214, 8.1%, 61.2%),
    primary-600: rgb(49, 51, 56),
    primary-630: hsl(220, 7%, 18%),
    primary-630-hsl: rgba(43, 45, 49, 0.6),
    primary-730: hsl(225, 7.1%, 11%),
    red-430: hsl(358, 68.8%, 53.5%),
);

@function getRawColor($color) {
    @return map-get($colors, $color);
}


// :root {
//     --black-500: hsl(0, 0%, 0%);
//     --brand-500: hsl(235, 85.6%, 64.7%);
//     --primary-330: #{getColor(primary-330)};
//     --primary-360: #{getColor(primary-360)};
//     --primary-600: rgb(49, 51, 56);
//     --primary-630: hsl(220, 7%, 18%);
//     --primary-630-hsl: rgba(43, 45, 49, 0.6);
//     --primary-730: #{getColor(primary-730)};
//     --red-430: hsl(358, 68.8%, 53.5%);
//     --scrollbar-thin-thumb: var(--primary-730);
//     --interactive-normal: var(--primary-330);

// }