//this  is a global file that reference styles that will be used across multiple files
.ccm-small-txt-2 {
  outline: 0;
  color: var(--header-secondary);
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  font-family: var(--global-font);
  align-items: center;
}

.ccm-small-txt-3 {
  outline: 0;
  color: var(--header-secondary);
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-family: var(--global-font);
  align-items: center;
}

.x-To-Close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 3;

  svg path {
    transition: 0.2s;
  }
}

.x-To-Close:hover {
  svg path {
    fill: var(--interactive-hover);
    transition: 0.2s;
  }
}

//global error renderfunction styles

.rendered-error {
  color: var(--text-danger);
  font-size: 12px;
  margin-bottom: 2px;
}

.server-error {
  color: var(--text-danger);
  font-size: 12px;
  font-family: var(--global-font);
  text-transform: none;
  font-style: italic;
  font-weight: 700;
}

.modal-struct-0 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--black-500-hsl-08);
  z-index: 110;
}

.modal-struct-10 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--black-500-hsl-08);
  z-index: 101;
}

.modal-struct-1 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--black-500);
  z-index: 110;
}

.modal-struct-2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 110;
}


.modal-child-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 87%;
  width: 36%;
}

label.field-error {
  color: var(--text-danger);
}

.this-is-a-test {
  color: var(--magenta);
  font-size: xx-large;
  font-weight: bolder;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 99;
  background-color:  var(--black-500-hsl-08);
  position: fixed;
  inset: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.empty-messages-container {
  top: 0px;
  left: 0px;
  position: absolute;
  width: calc(100vw - 310px);
  height: 100vh;
  transform: translate(309px, 0px);
  background-color: var(--empty-messages-container-bg);
  z-index: -1;
}

.icon-custom-fa-solid-discord-banner {
  width: 33px;
  height: 27px;
  transform: translate(0px, 8px);
}

.icon-custom-fa-solid {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  font-weight: 900;
}

.circle-offline {
  background: var(--gray-1000);
  border-radius: 50%;
  // width: 10px;
  // height: 10px;
  width: 8px;
  height: 8px;
  transform: translate(5px, 1px);
  border: 1px solid var(--black-500);
}

.circle-offline-1 {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid;
  transform: translate(-10px, 20px);
}

.circle-offline-dm-list {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(22px, -12px);
}

.circle-offline-create-dms {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-9px, 9px);
}

.circle-offline-dm-list-i2dsm {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-10px, 8px);
}

.circle-offline-dms-home-bar {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-10px, 8px);
}

.circle-offline-dm-header-nav-bar {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  border: 1px solid var(--black-500);
  transform: translate(1px, 1px);
}

.circle-offline-dm-side-bar-list {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-10px, 10px);
}

.circle-online {
  background: var(--green-2425);
  border-radius: 50%;
  // width: 10px;
  // height: 10px;
  width: 8px;
  height: 8px;
  // transform: translate(5px, 0px);
  transform: translate(5px, 1px);
  border: 1px solid var(--black-500);
}

.circle-online-1 {
  background: var(--green-2425);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid;
  transform: translate(-10px, 20px);
}

.circle-online-dm-list {
  background: var(--green-2425);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(22px, -12px);
}

.circle-online-create-dms {
  background: var(--green-2425);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-9px, 9px);
}

.circle-online-dm-list-i2dsm {
  background: var(--green-2425);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-10px, 8px);
}

.circle-online-dms-home-bar {
  background: var(--green-2425);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-10px, 8px);
}

.circle-online-dm-header-nav-bar {
  background: var(--green-2425);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  border: 1px solid var(--black-500);
  transform: translate(1px, 1px);
}

.circle-online-dm-side-bar-list {
  background: var(--green-2425);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid var(--black-500);
  transform: translate(-10px, 10px);
}

.circle-blocked {
  background: var(--pure-red);
  border-radius: 50%;
  // width: 10px;
  // height: 10px;
  width: 8px;
  height: 8px;
  // transform: translate(5px, 0px);
  transform: translate(5px, 1px);
  border: 1px solid var(--black-500);
}

.circle-blocked-1 {
  background: var(--pure-red);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid;
  transform: translate(-10px, 20px);
}

.circle-0 {
  background: var(--gray-1000);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(60px, -25px);
  border: 1px solid var(--black-500);
}

.circle-2 {
  background: var(--green-2425);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(60px, -25px);
  border: 1px solid var(--black-500);
}

.circle-1 {
  background: var(--pure-red);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(60px, -25px);
  border: 1px solid var(--black-500);
}

[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
  visibility: hidden;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: var(--black-500);
  color: var(--white-500);
}

// [aria-describedby]:hover,
// [aria-describedby]:focus {
//   position: relative;
// }

[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
  visibility: visible;
}

.flex-pfps {
  display: flex;
  flex-direction: row;
}

.user-pfp-svg-render {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 50%;
  width: 32px;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
}

.user-pfp-svg-render > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transform: scale(0.65);
  user-select: none;
  -webkit-user-drag: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.user-PFP {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.user-PFP > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  user-select: none;
  -webkit-user-drag: none;
}
