//home nav bar rendered on the home page of the app


.home-nav-bar-container {
    display: flex;
    forced-color-adjust: none;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    // background-color: hsl(220, 7.7%, 22.9%);
    background-color: #313338;


}


.home-nav-bar {
    forced-color-adjust: none;
    // background-color: hsl(220, 7.7%, 22.9%);
    background-color: #313338;
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 48px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 2;
    align-items: center;
    min-width: 0;
    width: 100%;
    -webkit-box-flex: 0;
    display: flex;
    -webkit-box-align: center;
    position: relative;
    color: hsl(210, 2.9%, 86.7%);


    top: 0px;
    left: 0px;
    position: absolute;
    width: calc(100vw - 310px);
    // height: 100vh;
    transform: translate(309px, 0px);
    // background-color: #36393F;
    // z-index: -1;
    box-shadow: 0 1px 0 hsla(240, 11.1%, 1.8%, 0.2), 0 1.5px 0 hsla(240, 7.7%, 2.5%, 0.05), 0 2px 0 hsla(240, 11.1%, 1.8%, 0.05);

    user-select: none;
}

.home-nav-bar-inner {
    forced-color-adjust: none;
    align-items: center;
    min-width: 0;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    flex: 1 1 auto;
    position: relative;
    -webkit-box-flex: 1;
    box-sizing: border-box;
}

.home-friends-icon-wrapper {
    flex: 0 0 auto;
    margin: 0 8px;
    box-sizing: border-box;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    forced-color-adjust: none;
    // color: hsl(223, 3.4%, 60.2%);
    color: hsl(226, 5.5%, 53.5%);


}


.home-nav-bar-friends-text {
    align-items: center;
    forced-color-adjust: none;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0 8px 0 0;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-flex: 0;
    display: flex;
    -webkit-box-align: center;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "ABC Ginto Normal";
    color: #F3F4F5;
    font-size: 16px;
    line-height: 20px;
}

.home-friend-divider {
    forced-color-adjust: none;
    width: 1px;
    height: 24px;
    margin: 0 8px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background: hsla(217, 7.6%, 33.5%, 0.48);
    box-sizing: border-box;
}


.friends-status-nav-bar {
    forced-color-adjust: none;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    font-family: "Whitney";
    font-size: 16px;
}

.online-tab {
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    cursor: default;
    // color: #FFFFFF;
    // color: hsl(216, 3.7%, 73.5%);
    color: hsl(231.4, 5.2%, 73.5%);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // background-color: hsla(217, 7.6%, 33.5%, 0.6);
}


.all-tab {
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    // color: hsl(216, 3.7%, 73.5%);
    color: hsl(231.4, 5.2%, 73.5%);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.pending-tab {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    // color: hsl(216, 3.7%, 73.5%);
    color: hsl(231.4, 5.2%, 73.5%);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blocked-tab {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    // color: hsl(216, 3.7%, 73.5%);
    color: hsl(231.4, 5.2%, 73.5%);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-friend-tab {
    background-color: hsl(139, 47.15, 33.3%);
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.online-tab.selected,
.all-tab.selected,
.pending-tab.selected,
.blocked-tab.selected {
    // background-color: hsla(217, 7.6%, 33.5%, 0.6);
    // background-color: #42444b;
    background-color: rgba(78,80,88,0.6);
    // color: #FFFFFF;
    color: rgb(243,244,245);
}

.add-friend-tab.selected {
    background-color: transparent;
    color: hsl(139, 51.6%, 52.5%);
}


.online-tab:hover,
.all-tab:hover,
.pending-tab:hover,
.blocked-tab:hover {
    // color: hsl(210, 2.9%, 86.7%);
    color: hsl(228, 8.8%, 88.8%);
    // background-color: hsla(217, 7.6%, 33.5%, 0.4);
    background-color: rgba(78,80,88,0.3);
    // background-color: hsl(228,6%,32.5%/0.3);
}

.add-friend-tab:hover {
    background-color: hsl(139, 47.1%, 33.3%);
    color: #FFFFFF;

}

.home-nav-tool-bar {
    forced-color-adjust: none;
    -webkit-box-flex: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    min-width: 0;
    box-sizing: border-box;
}

.invite-tool-bar {
    forced-color-adjust: none;
    display: flex;
    box-sizing: border-box;
}


.invite-tool-bar-group-dm:hover svg,
.inbox-tool-bar:hover svg,
.help-tool-bar:hover svg {

    // color: hsl(210, 2.9%, 86.7%);
    color: hsl(228, 8.8%, 88.8%);

}

.invite-tool-bar-group-dm {
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: border-box;
    // color: #B9BBBE;
    color: hsl(231,5.2%,73.5%);

}


.inbox-tool-bar {
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: border-box;
    // color: #B9BBBE;
    color: hsl(231,5.2%,73.5%);


}

.help-tool-bar {
    forced-color-adjust: none;
    text-decoration: none;
    // color: hsl(197, 100%, 47.8%);
    // color: #B9BBBE;
    color: hsl(231,5.2%,73.5%);
    box-sizing: border-box;
    cursor: pointer;
}

.help-tool-bar-icon-wrapper {
    flex: 0 0 auto;
    margin: 0 8px;
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    cursor: pointer;
    box-sizing: border-box;
}


.home-bar-tool-tip {
    // display: none;
    background: #000000 !important;
    color: hsl(228, 8.8%, 88.8%) !important;
    visibility: hidden;
    position: absolute;
    // top: -40px;
    // background: #191919;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 4px;
    width: fit-content;
    // color: #B9BBBE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    // transform: translate(0px, 30px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 6;
    font-family: "Whitney";


}

.home-bar-tool-tip-triangle {
    // display: none;
    visibility: hidden;
    position: absolute;
    // top: -12px;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #191919 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}

.invite-tool-bar-group-dm:hover .home-bar-tool-tip,
.invite-tool-bar-group-dm:hover .home-bar-tool-tip-triangle {
    visibility: visible;
    z-index: 10;
}

.inbox-tool-bar:hover .home-bar-tool-tip,
.inbox-tool-bar:hover .home-bar-tool-tip-triangle {
    visibility: visible;
    z-index: 10;
}

.help-tool-bar:hover .home-bar-tool-tip,
.help-tool-bar:hover .home-bar-tool-tip-triangle {
    visibility: visible;
    z-index: 10;
}

.help-tool-bar .home-bar-tool-tip {
    transform: translate(-25px, 2px);

}

.help-tool-bar .home-bar-tool-tip-triangle {
    transform: translate(-1px, -5px);
    rotate: 60deg;

}


.invite-tool-bar-group-dm .home-bar-tool-tip {
    width: 94px;
    transform: translate(-44px, 3px);
}

.invite-tool-bar-group-dm .home-bar-tool-tip-triangle {
    transform: translate(2px, -6px);
    rotate: 56deg;

}

.inbox-tool-bar .home-bar-tool-tip {
    // width: 94px;
    transform: translate(-15px, 3px);
}

.inbox-tool-bar .home-bar-tool-tip-triangle {
    transform: translate(1px, -4px);
    rotate: 56deg;
}