// Place all the styles related to the api::Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.server-chat-container-wrapper {
    forced-color-adjust: none;
    outline: 0;
    align-items: stretch;
    position: relative;
    justify-content: stretch;
    -webkit-box-align: stretch;
    flex-direction: row;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;

}

.server-chat-container {
    forced-color-adjust: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;

    textarea {
        resize: none;
        outline: 0;
        border: none;
        min-width: 565px;
        /* max-width: 1000px; */
        width: 98%;
    }

    // textarea::placeholder{
    //     color: #ffc959;
    // }



}

.message-wrapper {
    forced-color-adjust: none;
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0;
    outline: 0;
}

.chat-scroller {
    overflow-anchor: none;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 0;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    outline: 0;
    overflow-x: hidden;
}


.chat-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.chat-scroller::-webkit-scrollbar-corner {
    background-color: #0000;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.chat-scroller::-webkit-scrollbar-corner {
    background-color: #0000;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar-track {
    margin-bottom: 8px;
}


.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar-track {
    background-color: hsl(210, 9.8%, 20%);
}



.chat-scroller-content {
    outline: 0;
    display: flex;
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
    forced-color-adjust: none;
    position: relative;
}

.chat-scroller-inner {
    list-style: none;
    min-height: 0;
    forced-color-adjust: none;
}


.chat-divider {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    forced-color-adjust: none;
    position: relative;
    left: auto;
    right: auto;
    margin-left: 1rem;
    margin-right: 0.875rem;
    outline: 0;
    z-index: 1;
    height: 0;
    border-top: thin solid hsla(217, 7.6%, 33.5%, 0.48);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    pointer-events: none;
    box-sizing: border-box;

}

.chat-divider-content {
    outline: 0;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 2px 4px;
    color: hsl(214, 4%, 65.3%);
    background: hsl(220, 7.7%, 22.9%);
    line-height: 13px;
    font-size: 12px;
    margin-top: -1px;
    font-weight: 600;
    forced-color-adjust: none;
    border-radius: 8px;
}

.otherUser {
    font-weight: 600;
    font-family: "Whitney";
    margin-left: 2px;
}

.chat-message-item,
.dm-message-item {
    outline: none;
    forced-color-adjust: none;
    // display: flex;
    // justify-content: flex-start;
    // align-content: center;
    // align-items: center;
    // flex-direction: row;
}

.chat-message-item:hover {
    background-color: hsla(240, 11.1%, 1.8%, 0.07);

    .message-accessories-button-wrapper {
        display: flex;
    }
}

.message-wrapper1 {
    margin-top: 1.0625rem;
    min-height: 2.75rem;
    padding-left: 72px;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    forced-color-adjust: none;
    padding-right: 48px !important;
    outline: 0;
    position: relative;
    word-wrap: break-word;
    user-select: text;
    flex: 0 0 auto;
    // display: flex;

}

.message-wrapper-contents {
    outline: 0;
    forced-color-adjust: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
    position: static;
}

.chat-member-avatar-img {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    margin-top: calc(4px - 0.125rem);
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    left: 16px;
    cursor: pointer;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1;
}


.chat-member-avatar-img>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: calc(4px - 0.125rem);
    user-select: none;
    -webkit-user-drag: none;

}

.chat-user-pfp-svg-render {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: calc(4px - 0.125rem);

    position: absolute;
    left: 16px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1;

}

.chat-user-pfp-svg-render>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0.65);
    margin-top: calc(4px - 0.125rem);
    user-select: none;
    -webkit-user-drag: none;
}

.chat-member-username-header {
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
    color: hsl(214, 4%, 65.3%);
    white-space: break-spaces;
    overflow: hidden;
    forced-color-adjust: none;
}

.chat-member-username-wrap {
    margin-right: 0.25rem;
    outline: 0;
    forced-color-adjust: none;
}

.chat-member-username {
    outline: 0;
    forced-color-adjust: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #FFFFFF;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 16px;
    font-family: "Whitney";
}



.chat-message-timestamp-wrap {
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
    margin-left: 0.25rem;
    forced-color-adjust: none;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: hsl(214, 4%, 65.3%);
    vertical-align: baseline;
    font-family: "Whitney";

}

.chat-message-timestamp {
    cursor: default;
    pointer-events: none;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: hsl(214, 4%, 65.3%);
    forced-color-adjust: none;
    font-family: "Whitney";

}

.chat-message-timestamp-i {
    position: absolute;
    opacity: 0;
    width: 0;
    display: inline-block;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: hsl(214, 4%, 65.3%);
    cursor: default;
    pointer-events: none;
    font-weight: 500;
    forced-color-adjust: none;
    font-family: "Whitney";

}

.chat-message {
    user-select: text;
    margin-left: -72px;
    padding-left: 72px;
    overflow: hidden;
    position: relative;
    forced-color-adjust: none;
    text-indent: 0;
    outline: 0;
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    color: hsl(210, 2.9%, 86.7%);
    font-family: "Whitney";
}

.mention-wrapper {
    outline: 0;
    position: relative;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    unicode-bidi: plaintext;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    forced-color-adjust: none;
    background: hsla(235, 85.6%, 64.7%, 0.3);
    color: hsl(236, 83.3%, 92.9%);
    font-family: "Whitney";

}



.ol-scroller-spacer {
    forced-color-adjust: none;
    outline: 0;
    display: block;
    height: 30px;
    width: 1px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    pointer-events: none;
}



.chat-input-form {
    position: relative;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -8px;
    forced-color-adjust: none;
}


.chat-input-text-area {
    forced-color-adjust: none;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px;
    outline: 0;
    background-color: hsl(220, 7.7%, 22.9%);
}

.chat-input-text-area-scroller {
    outline: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    // background-color: hsl(218, 7.9%, 27.3%);
    background-color: #383a40;
    max-height: 50vh;
    border-radius: 8px;
    forced-color-adjust: none;
}

.chat-input-text-area-scroller::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.chat-input-text-area-scroller::-webkit-scrollbar-track {
    border-width: initial;
}

.chat-input-text-area-scroller::-webkit-scrollbar-thumb {
    background-color: hsla(225, 7.7%, 10.2%, 0.6);
    border-radius: 8px;
}

.chat-input-text-area-scroller::-webkit-scrollbar-thumb,
.chat-input-text-area-scroller::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 4px solid #0000;
}





.chat-input-text-area-scroller::-webkit-scrollbar-track {
    border-width: initial;
}


.chat-input-text-area-sticker {
    bottom: 100%;
    margin-bottom: 12px;
    min-height: 16px;
    position: absolute;
    -webkit-transition: opacity .125s ease-in, -webkit-transform .125s cubic-bezier(.48, 1.93, 1, .68);
    transition: opacity .125s ease-in, -webkit-transform .125s cubic-bezier(.48, 1.93, 1, .68);
    transition: opacity .125s ease-in, transform .125s cubic-bezier(.48, 1.93, 1, .68);
    transition: opacity .125s ease-in, transform .125s cubic-bezier(.48, 1.93, 1, .68), -webkit-transform .125s cubic-bezier(.48, 1.93, 1, .68);
    opacity: 1;
    will-change: opacity, transform;
    left: auto;
    right: 4px;
    outline: 0;
    forced-color-adjust: none;
    transform: translateY(12px);
    opacity: 0;
    pointer-events: none;
    right: 40px;
    min-width: 120px;
}

.inner-attach-button {
    forced-color-adjust: none;
    padding-left: 16px;
    display: flex;
    position: relative;
    outline: 0;
}

.uploadinput {
    outline: 0;
    position: relative;
    width: 0;
    height: 0;
    pointer-events: none;
    forced-color-adjust: none;

}

.file-input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
    forced-color-adjust: none;
    outline: 0;
    text-rendering: optimizeLegibility;
    font-family: "Whitney";
}


.attach-wrapper {
    forced-color-adjust: none;
    outline: 0;
    position: sticky;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    align-self: stretch;
}

.attach-wrapper-button {
    cursor: pointer;
    forced-color-adjust: none;
    height: 44px;
    padding: 10px 16px;
    position: sticky;
    top: 0;
    margin-left: -16px;
    width: auto;
    background: #0000;
    color: currentColor;
    border: 0;
    margin: 0;
    outline: 0;
    font-family: "Whitney";
    text-rendering: optimizeLegibility;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;

}

.attach-wrapper-button-content {
    forced-color-adjust: none;
    height: 24px;
    outline: 0;
    cursor: pointer;
}


.attachButtonPlus {
    transform-origin: 50% 50%;
    width: 24px;
    height: 24px;
    fill: hsl(216, 3.7%, 73.5%);
}


.inner-scroller-text-area {
    forced-color-adjust: none;
    outline: 0;
    color: hsl(210, 2.9%, 86.7%);
    background-color: #0000;
    resize: none;
    border: none;
    appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    padding: 0;
    position: relative;
}

.server-chat-box-placeholder {
    forced-color-adjust: none;
    outline: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    right: 10px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: hsl(218, 4.6%, 46.9%);
    user-select: none;
    pointer-events: none;



}

.server-message-chat-box-area {
    user-select: text;
    color: hsl(210, 2.9%, 86.7%);
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces !important;
    caret-color: hsl(210, 2.9%, 86.7%);
    left: 0;
    right: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
    padding-top: 11px;
    forced-color-adjust: none;
    overflow-wrap: break-word;
    position: relative;
    outline: none;

    // background-color: #40444b;
    background-color: #383a40;

}

.inner-scroller-buttons {
    margin-right: -6px;
    forced-color-adjust: none;
    flex-direction: row;
    height: 44px;
    position: sticky;
    top: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    outline: 0;
}

.chat-button-contents {
    outline: 0;
    padding: 4px;
    margin-left: 4px;
    justify-content: center;
    margin-right: 4px;
    color: hsl(216, 3.7%, 73.5%);
    align-items: center;
    -webkit-box-pack: center;
    display: flex;
    -webkit-box-align: center;
    forced-color-adjust: none;
}

.chat-button-wrapper {
    opacity: 1;
    transform: none;
    forced-color-adjust: none;
    outline: 0;
    cursor: pointer;
}

.send-gift-button {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    outline: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    background: #0000;
    color: currentColor;
    border: 0;
    padding: 0;
    margin: 0;
    width: auto;
    forced-color-adjust: none;
    cursor: pointer;
    font-family: "Whitney";
    text-rendering: optimizeLegibility;
}

.button-chat-input-wrap {
    forced-color-adjust: none;
    display: flex;
    outline: 0;

}



.sticker-icon {
    color: hsl(216, 3.7%, 73.5%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
}

.icongif {
    color: hsl(216, 3.7%, 73.5%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
}

.present-icon {
    color: hsl(216, 3.7%, 73.5%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
}

.fa-face-smile-wink {
    color: hsl(216, 3.7%, 73.5%);
    display: block !important;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
    transform: translate(-2px, 10px) !important;
}

// .send-gift-button.happyface{
//     padding: 4px;
//     margin-left: 4px;
//     margin-right: 4px;
// }


.present-icon:hover,
.icongif:hover,
.sticker-icon:hover {
    color: hsl(210, 2.9%, 86.7%);

}

.fa-face-smile-wink:hover {

    color: #ffc959;
}

.smiley-face-icon {
    color: hsl(216, 3.7%, 73.5%);
    display: block !important;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
    // transform: translate(-2px, 10px) !important;
}

.smiley-face-icon:hover {
    color: #ffc959;
}



.server-message-chat-box-area::-webkit-scrollbar {
    display: none;
}

.txt-inpt {
    color: transparent;
}




.server-chat-container-wrapper::before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    /* -webkit-box-shadow: var(--elevation-low); */
    box-shadow: 0 1px 0 hsla(240, 11.1%, 1.8%, 0.2), 0 1.5px 0 hsla(240, 7.7%, 2.5%, 0.05), 0 2px 0 hsla(240, 11.1%, 1.8%, 0.05);
    z-index: 1;
    pointer-events: none;
}

.chat-input-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 1.25rem;
    // background: linear-gradient(180deg, #36393f00 0, hsl(220, 7.7%, 22.9%));
}

//edit and delete buttons 
.message-accessories {
    grid-auto-flow: row;
    grid-row-gap: 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    position: relative;
    outline: 0;
    forced-color-adjust: none;
    display: none;
}

.message-accessories-button-container {
    outline: 0;
    forced-color-adjust: none;
    top: 0;
    right: 0;
    position: absolute;
}

.message-accessories-button-layer {
    outline: 0;
    forced-color-adjust: none;
    top: -16px;
    position: absolute;
    right: 0;
    z-index: 1;
    // top: -25px;
    padding: 0 14px 0 32px;
    opacity: 0;
    pointer-events: none;

}

.message-accessories-button-wrapper {
    outline: 0;
    forced-color-adjust: none;
    background-color: hsl(220, 7.7%, 22.9%);
    box-shadow: 0 0 0 1px hsla(240, 11.1%, 1.8%, 0.15);
    // display: grid;
    // grid-auto-flow: column;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    // align-items: center;
    // justify-content: flex-start;

    user-select: none;

    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
    // position: relative;
    overflow: hidden;


    display: none;
    position: absolute;
    // right: 10px;
    right: 10px;

    // transform: translateY(-50%);

    transform: translateY(-200%);

    // background-color: #36393F;
    // box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    // transition: box-shadow 0.1s ease-in-out;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #2f3136;
    // border-radius: 5px;
    overflow: hidden;
    color: #B9BBBE;
    cursor: pointer;



}

.message-accessories-button-wrapper:hover {
    box-shadow: 0 0 0 1px hsla(240, 11.1%, 1.8%, 0.15), 0 4px 4px hsla(0, 0%, 0%, 0.16);
}

.message-accessories-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 4px;
    min-width: 24px;
    flex: 0 0 auto;
    color: hsl(216, 3.7%, 73.5%);
    cursor: pointer;
    position: relative;
    outline: 0;
    forced-color-adjust: none;
}

.message-accessories-button:hover {
    padding-top: 5px;
    padding-bottom: 3px;
    color: hsl(216, 3.7%, 73.5%);
    background-color: hsla(217, 7.6%, 33.5%, 0.48);
}

.pen-icon {
    forced-color-adjust: none;
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
}

.trash-message-icon {
    forced-color-adjust: none;
}

.message-form-edit {
    padding: 7px 0;
    font-size: 12px;
    font-weight: 400;
    text-indent: 0;
    color: hsl(210, 2.9%, 86.7%);
    forced-color-adjust: none;
    outline: 0;
    font-family: "Whitney";

    span {
        color: hsl(197, 100%, 47.8%);
        text-decoration: none;
    }
}

.message-form-edit span:hover {
    text-decoration: underline;
}