@-webkit-keyframes ppeModalPopOutAnimation {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ppeModalPopOutAnimation {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes ppeModalExitAnimation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes ppeModalExitAnimation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

.ppe-modal-container-layer {
  background: none !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1002;
}
.ppe-modal-backdrop {
  pointer-events: all;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0.85;
  background: var(--black-500);
}

.ppe-modal-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ppe-modal-focus-lock {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-width: 100%;
}

.ppe-modal-root {
  border-radius: var(--radius-sm);
  background-color: transparent;
  min-height: 570px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  pointer-events: all;
  position: relative;
  max-height: 100%;
  opacity: 1;
  transform: scale(1);
  -webkit-animation-name: ppeModalPopOutAnimation;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-name: ppeModalPopOutAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.ppe-modal-root.transition-out {
  -webkit-animation-name: ppeModalExitAnimation;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: 1;
  animation-name: ppeModalExitAnimation;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
}

.ppe-modal-content {
  display: flex;
  padding: 0;
  border-radius: inherit;
  position: relative;
  z-index: 0;
}

.ppe-modal-collectible-info-container {
  z-index: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 276px;
}
.ppem-collectible-info-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.ppe-fall-title-banner {
  content: image_url("ppeFallBanner.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-halloween-title-banner {
  content: image_url("halloweenLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-fantasy-title-banner {
  content: image_url("shopFantasyBannerLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-anime-title-banner {
  content: image_url("shopAnimeBannerLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-breakfast-title-banner {
  content: image_url("shopBreakfastBannerLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-profile-effect-description-container {
  margin-bottom: 38px;
}
.ppe-type-pill-label {
  border: 0.5px solid var(--white-500);
  border-radius: 8px;
  height: 13px;
  display: inline-block;
  margin-bottom: 4px;
  padding: 1px 4px;
}
.ppe-type-pill-label-text {
  font-family: var(--global-font);
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}
.ppe-profile-effect-h2 {
  margin-bottom: 4px;
  font-family: var(--global-font);
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

.ppe-profile-effect-small-text-description {
  font-family: var(--global-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.ppe-ped-price-tags-container {
  margin-top: 24px;
  display: inline-flex;
  align-items: flex-end;
}
.ppe-ped-fine-print-disclaimer {
  margin-top: 8px;
  color: var(--primary-230);
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  font-family: var(--global-font);
}

.ppe-modal-collectible-preview-container-noChat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0px 40px;
}

.ppe-modal-collectible-preview-container-Chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.ppe-close-button-button {
  position: absolute;
  right: 16px;
  top: 16px;
  opacity: 1;
  color: var(--white-500);
  width: auto;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.closeWithCircleBackgroundIcon .ppe-close-button-icon {
  width: 16px;
  height: 16px;
  color: var(--primary-330);
}
.closeWithCircleBackgroundIcon .ppe-close-button-icon:hover {
  color: var(--primary-230);
}
.ppe-modal-bottom-sep {
  position: absolute;
  pointer-events: none;
  min-height: 0px;
  min-width: 1px;
  flex: 0 0 auto;
  height: 0px;
}

.ppe-collectible-preview-category-banner {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-position: right;
  width: 100%;
  height: 100%;
}
.ppe-collectible-preview-category-banner.fall-bg-banner {
  background-size: cover;
  background-image: image_url("ppeFallBgBanner.jpg");
}
.ppe-collectible-preview-category-banner.ppe-halloween-bg-banner {
  background-size: cover;
  background-image: image_url("shopHalloweenbg.png");
}
.ppe-collectible-preview-category-banner.ppe-fantasy-bg-banner {
  background-size: cover;
  background-image: image_url("shopFantasyBanner.png");
}

.ppe-collectible-preview-category-banner.ppe-anime-bg-banner {
  background-size: cover;
  background-image: image_url("shopAnimeBanner.png");
}
.ppe-collectible-preview-category-banner.ppe-breakfast-bg-banner {
  background-size: cover;
  background-image: image_url("shopBreakfastBanner.png");
}

.ppepes-preview-container-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.ppe-profile-effects-preview-container-inner {
  margin-top: 0;
}

.ppe-upc {
  --custom-user-popout-outside-components-height: 1px;
  width: var(--custom-user-profile-themed-container-user-popout-width);
  box-shadow: var(--elevation-high);
  border-radius: 8px;
  overflow: hidden;
  max-height: calc(
    100vh - 20px - var(--custom-user-popout-outside-components-height)
  );
  position: relative;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 4px;
}
.profileEffectsModalCustomPreview-UPC {
  width: 280px;
}
.profileEffectsModalCustomPreview-UPC-themed {
  width: 288px;
}
.profileEffectCustomizationPreview {
  position: relative;
  min-height: 280px;
  box-sizing: border-box;
}
.profileEffectCustomizationPreview-themed {
  position: relative;
  min-height: 280px;
  //   width: 348px;
  box-sizing: border-box;
}

.ppe-upc-profile-effects {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity 0.6s ease-in-out;
}
.ppe-upc-profile-effects-inner {
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ppe-user-avatar {
  top: 16px;
  cursor: auto;
  position: absolute;
  z-index: 1;
  left: 22px;
}

.ppe-status {
  width: 28px;
  height: 28px;
  background: var(--profile-avatar-border-color);
  position: absolute;
  top: 54px;
  left: 54px;
  border-radius: 50%;
}

.ppe-status-dot {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
}
.ppe-upc-bannerSVGwrapper {
  min-width: 280px;
  min-height: 90px;
  z-index: 1;
  contain: paint;
}

.ppe-upc-bannerSVGwrapper-pro {
  min-width: 280px;
  min-height: 90px;
  z-index: 1;
  contain: paint;
}

.ppe-customization-upc-body {
  min-height: 100px;
  padding: 0px 12px;
}

.ppe-upc-section-content-container {
  display: flex;
  justify-content: space-between;
}
.ppe-upc-content-divider {
  margin-top: 12px;
  height: 1px;
  position: sticky;
  top: 0;
  background-color: var(--profile-body-divider-color);
}
.ppe-upc-last-section {
  padding-bottom: 12px;
}

.ppe-upc-banner {
  background-color: var(--upc-default-banner-bg);
  max-width: 280px;
  width: 100%;
  // height: 60px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.1s;
}

.ppe-upc-banner-pro {
  background-color: var(--upc-default-banner-bg);
  max-width: 280px;
  width: 100%;
  height: 120px;
  min-height: 120px;
  border-radius: 4px 4px 0px 0px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.1s;
}

.ppe-fakeActivity-title {
  font-family: 700;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-family: var(--global-font);
  color: var(--header-primary);
}

.ppe-fakeActivity-layout {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.ppe-fakeActivity-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
  background-color: var(--brand-experiment-600);
}

.ppe-fake-activity-pencil-icon {
  display: block;
  width: 48px;
  height: 48px;
  transform: none;
  content: image_url("fakeActivityPencil.png");
}

.ppe-fakeActivity-content {
  flex: 1 1 auto;
}
.ppe-fakeActivity-content-semi-bold {
  font-family: var(--global-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--text-normal);
}
.default-text-color {
  color: var(--text-normal);
}
.ppe-fakeActivity-timeValues {
  font-family: var(--font-code);
}

//profile effects

.shop-item-fall-foliage-infinite {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("fallLeavesInfiniteThumbNail.png");
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: fall-branch-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: fall-branch-cycle;
  animation-duration: 3s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ppe-shop-item-fall-lilly-pad-life {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("rainIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: ppefall-lillypad-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: ppefall-lillypad-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppefall-lillypad-cycle {
  0% {
    content: image_url("rainIntro.png");
  }
  100% {
    content: image_url("rainLoop.png");
  }
}

@-webkit-keyframes ppefall-lillypad-cycle {
  0% {
    content: image_url("rainIntro.png");
  }
  100% {
    content: image_url("rainLoop.png");
  }
}

.ppe-shop-item-ghoulish-graffiti {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("punkGirlIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: ghoulish-graffiti-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: ghoulish-graffiti-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-slime-zombie {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("slimeZombieIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slime-zombie-cycle;
  animation-name: slime-zombie-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-ghost-skulls {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("ghostSkullsIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ghost-skulls-cycle;
  animation-name: ghost-skulls-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-fantasy-hydro-blast {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("waterSplashIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fantasy-hydro-blast-cycle;
  animation-name: fantasy-hydro-blast-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-fantasy-sakura-dreams-main {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("sakuraIntro.png");
}

.ppe-shop-item-fantasy-sakura-dreams {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("sakuraIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fantasy-sakura-dreams-cycle;
  animation-name: fantasy-sakura-dreams-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-fantasy-mystic-vines {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("vinesThumbnail.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fantasy-mystic-vines-cycle;
  animation-name: fantasy-mystic-vines-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-fantasy-mystic-glowing-vines {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("vinesLoop.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fantasy-mystic-glowing-vines-cycle;
  animation-name: fantasy-mystic-glowing-vines-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-fantasy-pixie-dust {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-fantasy-pixie-dust-cycle;
  animation-name: ppe-fantasy-pixie-dust-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppe-fantasy-pixie-dust-cycle {
  0% {
    content: image_url("fairyIntro.png");
  }
  100% {
    content: image_url("blankEffect.png");
  }
}

@-webkit-keyframes ppe-fantasy-pixie-dust-cycle {
  0% {
    content: image_url("fairyIntro.png");
  }
  100% {
    content: image_url("blankEffect.png");
  }
}

.ppe-shop-item-anime-magic-hearts {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("magicGirlIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: anime-magic-hearts-cycle;
  animation-name: anime-magic-hearts-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-anime-shatter {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("earthquakeIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: anime-shatter-cycle;
  animation-name: anime-shatter-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-anime-shuriken-strike {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("shurikenIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: anime-shuriken-strike-cycle;
  animation-name: anime-shuriken-strike-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-anime-power-surge {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("sayanIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: anime-power-surge-cycle;
  animation-name: anime-power-surge-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-breakfast-strife-cereal-o-s {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("cerealIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: breakfast-strife-cereal-o-s-cycle;
  animation-name: breakfast-strife-cereal-o-s-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-breakfast-plate {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("plateIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: breakfast-plate-cycle;
  animation-name: breakfast-plate-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
