@-webkit-keyframes ppeModalPopOutAnimation {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ppeModalPopOutAnimation {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes ppeModalExitAnimation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes ppeModalExitAnimation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

.ppe-modal-container-layer {
  background: none !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1002;
}
.ppe-modal-backdrop {
  pointer-events: all;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0.85;
  background: var(--black-500);
}

.ppe-modal-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ppe-modal-focus-lock {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-width: 100%;
}

.ppe-modal-root {
  border-radius: var(--radius-sm);
  background-color: transparent;
  min-height: 570px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  pointer-events: all;
  position: relative;
  max-height: 100%;
  opacity: 1;
  transform: scale(1);
  -webkit-animation-name: ppeModalPopOutAnimation;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-name: ppeModalPopOutAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.ppe-modal-root.transition-out {
  -webkit-animation-name: ppeModalExitAnimation;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: 1;
  animation-name: ppeModalExitAnimation;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
}

.ppe-modal-content {
  display: flex;
  padding: 0;
  border-radius: inherit;
  position: relative;
  z-index: 0;
}

.ppe-modal-collectible-info-container {
  z-index: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 276px;
}
.ppem-collectible-info-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.ppe-fall-title-banner {
  content: image_url("ppeFallBanner.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-halloween-title-banner {
  content: image_url("halloweenLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-fantasy-title-banner {
  content: image_url("shopFantasyBannerLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-anime-title-banner {
  content: image_url("shopAnimeBannerLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-breakfast-title-banner {
  content: image_url("shopBreakfastBannerLogo.png");
  padding-right: 6px;
  padding-top: 4px;
  max-height: 18px;
}
.ppe-profile-effect-description-container {
  margin-bottom: 38px;
}
.ppe-type-pill-label {
  border: 0.5px solid var(--white-500);
  border-radius: 8px;
  height: 13px;
  display: inline-block;
  margin-bottom: 4px;
  padding: 1px 4px;
}
.ppe-type-pill-label-text {
  font-family: var(--global-font);
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}
.ppe-profile-effect-h2 {
  margin-bottom: 4px;
  font-family: var(--global-font);
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

.ppe-profile-effect-small-text-description {
  font-family: var(--global-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.ppe-ped-price-tags-container {
  margin-top: 24px;
  display: inline-flex;
  align-items: flex-end;
}
.ppe-ped-fine-print-disclaimer {
  margin-top: 8px;
  color: var(--primary-230);
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  font-family: var(--global-font);
}

.ppe-modal-collectible-preview-container-noChat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0px 40px;
}

.ppe-modal-collectible-preview-container-Chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0px 40px 0px 20px;
}

.ppe-close-button-button {
  position: absolute;
  right: 16px;
  top: 16px;
  opacity: 1;
  color: var(--white-500);
  width: auto;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.closeWithCircleBackgroundIcon .ppe-close-button-icon {
  width: 16px;
  height: 16px;
  color: var(--primary-330);
}
.closeWithCircleBackgroundIcon .ppe-close-button-icon:hover {
  color: var(--primary-230);
}
.ppe-modal-bottom-sep {
  position: absolute;
  pointer-events: none;
  min-height: 0px;
  min-width: 1px;
  flex: 0 0 auto;
  height: 0px;
}

.ppe-collectible-preview-category-banner {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-position: right;
  width: 100%;
  height: 100%;
}
.ppe-collectible-preview-category-banner.fall-bg-banner {
  background-size: cover;
  background-image: image_url("ppeFallBgBanner.jpg");
}
.ppe-collectible-preview-category-banner.ppe-halloween-bg-banner {
  background-size: cover;
  background-image: image_url("shopHalloweenbg.png");
}
.ppe-collectible-preview-category-banner.ppe-fantasy-bg-banner {
  background-size: cover;
  background-image: image_url("shopFantasyBanner.png");
}

.ppe-collectible-preview-category-banner.ppe-anime-bg-banner {
  background-size: cover;
  background-image: image_url("shopAnimeBanner.png");
}
.ppe-collectible-preview-category-banner.ppe-breakfast-bg-banner {
  background-size: cover;
  background-image: image_url("shopBreakfastBanner.png");
}

.ppepes-preview-container-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.ppe-profile-effects-preview-container-inner {
  margin-top: 0;
}

.ppe-upc {
  --custom-user-popout-outside-components-height: 1px;
  width: var(--custom-user-profile-themed-container-user-popout-width);
  box-shadow: var(--elevation-high);
  border-radius: 8px;
  overflow: hidden;
  max-height: calc(
    100vh - 20px - var(--custom-user-popout-outside-components-height)
  );
  position: relative;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 4px;
}
.profileEffectsModalCustomPreview-UPC {
  width: 288px;
}
.profileEffectsModalCustomPreview-UPC-themed {
  width: 348px;
}

.profileEffectCustomizationPreview {
  position: relative;
  min-height: 280px;
  box-sizing: border-box;
}
.profileEffectCustomizationPreview-themed {
  position: relative;
  min-height: 280px;
  //   width: 348px;
  box-sizing: border-box;
}

.ppe-upc-profile-effects {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity 0.6s ease-in-out;
}
.ppe-upc-profile-effects-inner {
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ppe-user-avatar {
  top: 16px;
  cursor: auto;
  position: absolute;
  z-index: 1;
  left: 22px;
}

.ppe-status {
  width: 28px;
  height: 28px;
  background: var(--profile-avatar-border-color);
  position: absolute;
  top: 54px;
  left: 54px;
  border-radius: 50%;
}

.ppe-status-dot {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
}
.ppe-upc-bannerSVGwrapper {
  min-width: 280px;
  min-height: 90px;
  z-index: 1;
  contain: paint;
}

.ppe-upc-bannerSVGwrapper-pro {
  min-width: 280px;
  min-height: 120px;
  z-index: 1;
  contain: paint;
}

.ppe-upc-bannerSVGwrapper-avatarDecoVersion {
  min-width: 340px;
  min-height: 90px;
  z-index: 1;
  contain: paint;
}

.ppe-upc-bannerSVGwrapper-avatarDecoVersion-pro {
  min-width: 340px;
  min-height: 120px;
  z-index: 1;
  contain: paint;
}

.ppe-customization-upc-body {
  min-height: 100px;
  padding: 0px 12px;
}

.ppe-upc-section-content-container {
  display: flex;
  justify-content: space-between;
}
.ppe-upc-content-divider {
  margin-top: 12px;
  height: 1px;
  position: sticky;
  top: 0;
  background-color: var(--profile-body-divider-color);
}
.ppe-upc-last-section {
  padding-bottom: 12px;
}

.ppe-upc-banner {
  background-color: var(--upc-default-banner-bg);
  max-width: 280px;
  width: 100%;
  // height: 60px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.1s;
}

.ppe-upc-banner-pro {
  background-color: var(--upc-default-banner-bg);
  max-width: 280px;
  width: 100%;
  height: 120px;
  min-height: 120px;
  border-radius: 4px 4px 0px 0px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.1s;
}

.ppe-upc-adp-banner {
  background-color: var(--upc-default-banner-bg);
  max-width: 340px;
  width: 100%;
  // height: 60px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.1s;
}

.ppe-upc-adp-banner-pro {
  background-color: var(--upc-default-banner-bg);
  max-width: 340px;
  width: 100%;
  height: 120px;
  min-height: 120px;
  border-radius: 4px 4px 0px 0px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transition: background-color 0.1s;
}

.ppe-fakeActivity-title {
  font-family: 700;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-family: var(--global-font);
  color: var(--header-primary);
}

.ppe-fakeActivity-layout {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.ppe-fakeActivity-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
  background-color: var(--brand-experiment-600);
}

.ppe-fake-activity-pencil-icon {
  display: block;
  width: 48px;
  height: 48px;
  transform: none;
  content: image_url("fakeActivityPencil.png");
}

.ppe-fakeActivity-content {
  flex: 1 1 auto;
}
.ppe-fakeActivity-content-semi-bold {
  font-family: var(--global-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--text-normal);
}
.default-text-color {
  color: var(--text-normal);
}
.ppe-fakeActivity-timeValues {
  font-family: var(--font-code);
}

//profile effects
.ppe-shop-item-fall-foliage-leaves {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("leavesLoop.png");
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 6s;
  -webkit-animation-name: ppe-fall-foliage-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: ppe-fall-foliage-cycle;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.shop-item-fall-foliage-infinite {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("introBranchStatic.png");
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: ppe-fall-branch-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: ppe-fall-branch-cycle;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes ppe-fall-branch-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("introBranch.png");
  }
}

@-webkit-keyframes ppe-fall-branch-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("introBranch.png");
  }
}

@keyframes ppe-fall-foliage-cycle {
  0% {
    content: image_url("introLeavesLoop.png");
  }
  100% {
    content: image_url("leavesLoop.png");
  }
}

@-webkit-keyframes ppe-fall-foliage-cycle {
  0% {
    content: image_url("introLeavesLoop.png");
  }
  100% {
    content: image_url("leavesLoop.png");
  }
}

.ppe-shop-item-fall-lilly-pad-life {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: ppefall-lillypad-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: ppefall-lillypad-cycle;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppefall-lillypad-cycle {
  0% {
    content: image_url("rainIntro.png");
  }
  100% {
    content: image_url("rainLoop.png");
  }
}

@-webkit-keyframes ppefall-lillypad-cycle {
  0% {
    content: image_url("rainIntro.png");
  }
  100% {
    content: image_url("rainLoop.png");
  }
}

.ppe-shop-item-ghoulish-graffiti {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("punkGirlIntro.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: ghoulish-graffiti-cycle;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: ghoulish-graffiti-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-slime-zombie {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slime-zombie-cycle;
  animation-name: slime-zombie-cycle;
  animation-duration: 6s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-slime-zombie-slime {
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-slime-zombie-cycle;
  animation-name: ppe-slime-zombie-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppe-slime-zombie-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("slimeZombieLoop.png");
  }
}
@-webkit-keyframes ppe-slime-zombie-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("slimeZombieLoop.png");
  }
}

.ppe-shop-item-ghost-skulls {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ghost-skulls-cycle;
  animation-name: ghost-skulls-cycle;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-fantasy-hydro-blast {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fantasy-hydro-blast-cycle;
  animation-name: fantasy-hydro-blast-cycle;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-fantasy-sakura-dreams-main {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("sakuraDreamsTreeEnd.png");
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: ppe-fantasy-sakura-dreams-cycle;
  animation-name: ppe-fantasy-sakura-dreams-cycle;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ppe-shop-item-fantasy-sakura-dreams {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-fantasy-sakura-dreams-cycle-petals;
  animation-name: ppe-fantasy-sakura-dreams-cycle-petals;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppe-fantasy-sakura-dreams-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    // content: image_url("sakuraIntro.png");
    content: image_url("sakuraDreamsInfinite.png");
  }
}

@-webkit-keyframes ppe-fantasy-sakura-dreams-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    // content: image_url("sakuraIntro.png");
    content: image_url("sakuraDreamsInfinite.png");
  }
}

@keyframes ppe-fantasy-sakura-dreams-cycle-petals {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("sakuraLoop.png");
  }
}

@-webkit-keyframes ppe-fantasy-sakura-dreams-cycle-petals {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("sakuraLoop.png");
  }
}

.ppe-shop-item-fantasy-mystic-vines {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("vinesIntro1.png");
}

.ppe-shop-item-fantasy-mystic-glowing-vines {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  //   -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-fantasy-mystic-glowing-vines-cycle;
  animation-name: ppe-fantasy-mystic-glowing-vines-cycle;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  //   animation-fill-mode: forwards;
}

@keyframes ppe-fantasy-mystic-glowing-vines-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("vinesGlow.png");
  }
}

@-webkit-keyframes ppe-fantasy-mystic-glowing-vines-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("vinesGlow.png");
  }
}

.ppe-shop-item-fantasy-pixie-dust {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-fantasy-pixie-dust-cycle;
  animation-name: ppe-fantasy-pixie-dust-cycle;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppe-fantasy-pixie-dust-cycle {
  0% {
    content: image_url("fairyIntro.png");
  }
  100% {
    content: image_url("blankEffect.png");
  }
}

@-webkit-keyframes ppe-fantasy-pixie-dust-cycle {
  0% {
    content: image_url("fairyIntro.png");
  }
  100% {
    content: image_url("blankEffect.png");
  }
}

.ppe-shop-item-anime-magic-hearts {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("magicGirlIntro.png");
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: anime-magic-hearts-cycle;
  animation-name: anime-magic-hearts-cycle;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-anime-shatter {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("shatterEnd.png");
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: ppe-anime-shatter;
  animation-name: ppe-anime-shatter;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.ppe-shop-item-anime-shatter-flame {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-anime-shatter-cycle;
  animation-name: ppe-anime-shatter-cycle;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ppe-anime-shatter {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("earthQuakeIntroInfinite.png");
  }
}

@-webkit-keyframes ppe-anime-shatter {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("earthQuakeIntroInfinite.png");
  }
}
@keyframes ppe-anime-shatter-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("earthquakeLoop.png");
  }
}

@-webkit-keyframes ppe-anime-shatter-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("earthquakeLoop.png");
  }
}

.ppe-shop-item-anime-shuriken-strike {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("shurikenEnd.png");
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: ppe-anime-shuriken-strike;
  animation-name: ppe-anime-shuriken-strike;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.ppe-shop-item-anime-shuriken-strike-throws {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: ppe-anime-shuriken-strike-cycle;
  animation-name: ppe-anime-shuriken-strike-cycle;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes ppe-anime-shuriken-strike {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("shurikenIntroInfinite.png");
  }
}

@-webkit-keyframes ppe-anime-shuriken-strike {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("shurikenIntroInfinite.png");
  }
}
@keyframes ppe-anime-shuriken-strike-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("shurikenLoop.png");
  }
}

@-webkit-keyframes ppe-anime-shuriken-strike-cycle {
  0% {
    content: image_url("blankEffect.png");
  }
  100% {
    content: image_url("shurikenLoop.png");
  }
}

.ppe-shop-item-anime-power-surge {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: anime-power-surge-cycle;
  animation-name: anime-power-surge-cycle;
  animation-duration: 5s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppe-shop-item-breakfast-strife-cereal-o-s {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: breakfast-strife-cereal-o-s-cycle;
  animation-name: breakfast-strife-cereal-o-s-cycle;
  animation-duration: 5s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.ppe-shop-item-breakfast-plate {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  content: image_url("blankEffect.png");
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: breakfast-plate-cycle;
  animation-name: breakfast-plate-cycle;
  animation-duration: 5s;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ppem-AvatarPreviewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.ppem-AvatarPreview-inner-wrapper {
  position: relative;
  border-radius: 50%;
  width: 152px;
  height: 152px;
}
.ppem-AvatarDeco-ChatPreview {
  font-family: var(--global-font);
  border-color: var(--background-tertiary);
  background: var(--bg-overlay-chat, var(--background-primary));
  border-radius: var(--radius-sm);
  position: relative;
  bottom: 44px;
  left: 42px;
  width: 290px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 16px;
  gap: 12px;
  z-index: 3;
  border-width: 1px;
  border-style: solid;
}
.ppem-AD-Chat-mock-message {
  font-family: var(--global-font);

  padding-top: var(--custom-message-spacing-vertical-container-cozy);
  padding-bottom: var(--custom-message-spacing-vertical-container-cozy);
  padding-left: var(--custom-message-margin-left-content-cozy);
  padding-right: 12px !important;
  margin-left: -12px;
  max-width: 220px;

  position: relative;
  word-wrap: break-word;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  flex: 0 0 auto;
  min-height: 1.375rem;
}
.ppem-AD-Chat-mock-message-contents {
  position: static;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
.ppem-AD-Chat-mock-message-contents-header2 {
  font-family: var(--global-font);
  overflow: hidden;
  display: block;
  position: relative;
  line-height: 1.375rem;
  min-height: 1.375rem;
  color: var(--text-muted);
  white-space: break-spaces;
}

.ppem-AD-Chat-mock-message-username-container {
  margin-right: 0.25rem;
}
.ppem-AD-Chat-mock-message-username {
  display: inline-block;
  max-width: 112px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -6px;
  font-family: var(--global-font);

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: var(--header-primary);
  vertical-align: baseline;
  position: relative;
  flex-shrink: 0;
}
.ppem-AD-Chat-mock-message-timestamp-container {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  vertical-align: baseline;
  margin-left: 0.25rem;
  display: inline-block;
  height: 1.25rem;
  cursor: default;
  pointer-events: none;
  font-weight: 500;
  font-family: var(--global-font);
}
.ppem-AD-Chat-mock-message-inline-timestamp {
  font-family: var(--global-font);
}
.ppem-AD-Chat-mock-message-i-tag-timestamp {
  position: absolute;
  opacity: 0;
  display: inline-block;
  font-style: normal;
  font-family: var(--global-font);
}
.ppem-AD-Chat-mock-message-textContent {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  margin-left: calc(-1 * var(--custom-message-margin-left-content-cozy));
  padding-left: var(--custom-message-margin-left-content-cozy);

  overflow: hidden;
  position: relative;
  text-indent: 0;
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: pre-wrap;
  white-space: break-spaces;
  word-wrap: break-word;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  color: var(--text-normal);
  font-family: var(--global-font);
}
.ppem-AD-Chat-mock-message-input {
  background: var(--bg-overlay-3, var(--channeltextarea-background));
  border-radius: var(--radius-md);
  height: 40px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ppem-AD-Chat-mock-message-input-button {
  color: var(--interactive-normal);
}

.ppem-AD-Chat-mock-msg-avatar {
  position: absolute;
  left: var(--custom-message-margin-horizontal);
  margin-top: calc(4px - var(--custom-message-spacing-vertical-container-cozy));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex: 0 0 auto;
  pointer-events: none;
  z-index: 1;
}

.ppe-fall-leaves-image {
  content: image_url("fallLeavesAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-fall-pumpkin-spice-image {
  content: image_url("pumpkinSpiceAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-fall-fox-hat-image {
  content: image_url("foxHatAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-fall-frog-hat-image {
  content: image_url("frogHatAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-fantasy-flaming-sword {
  content: image_url("flamingSwordAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-fantasy-fairy-sprites {
  content: image_url("fairySpriteAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-fantasy-defensive-shield {
  content: image_url("fantasyDefenseShieldAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-fantasy-magic-potion {
  content: image_url("magicPotionAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-fantasy-wizard-staff {
  content: image_url("wizardStaffAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-fantasy-glowing-runes {
  content: image_url("glowingRunesAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-fantasy-skull-medallion {
  content: image_url("skullMedallionAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-fantasy-treasure-n-key {
  content: image_url("treasureNKeyAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-anime-radiating-energy {
  content: image_url("radiatingEnergyAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-anime-soul-leaving-body {
  content: image_url("soulLeavingBodyAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-anime-sweat-drops {
  content: image_url("sweatDropsAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-anime-starry-eyed {
  content: image_url("starryEyedAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-anime-in-love {
  content: image_url("inLoveAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-anime-shocked {
  content: image_url("animeShockedAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-anime-angry {
  content: image_url("animeAngryAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-breakfast-items-toast {
  content: image_url("toastAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-breakfast-items-morning-coffee {
  content: image_url("morningCoffeeAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-breakfast-items-fried-eggs {
  content: image_url("friedEggsAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-breakfast-items-blueberry-jam {
  content: image_url("bbJamAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-breakfast-items-donuts {
  content: image_url("donutsAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-breakfast-items-pancakes {
  content: image_url("pancakesAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-halloween-cat-grave {
  content: image_url("halloweenCatGraveAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-halloween-minions {
  content: image_url("halloweenMinionsAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-halloween-ghosts {
  content: image_url("halloweenGhostsAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.ppe-halloween-jack-o-lantern {
  content: image_url("jackolaternAnimated.png");
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.ppe-halloween-jack-o-lantern::before,
.ppe-halloween-ghosts::before,
.ppe-halloween-minions::before,
.ppe-halloween-cat-grave::before,
.ppe-breakfast-items-blueberry-jam::before,
.ppe-breakfast-items-pancakes::before,
.ppe-breakfast-items-donuts::before,
.ppe-breakfast-items-fried-eggs::before,
.ppe-breakfast-items-morning-coffee::before,
.ppe-breakfast-items-toast::before,
.ppe-anime-angry::before,
.ppe-anime-shocked::before,
.ppe-fall-leaves-image::before,
.ppe-fall-pumpkin-spice-image::before,
.ppe-fall-fox-hat-image::before,
.ppe-fall-frog-hat-image::before,
.ppe-fantasy-flaming-sword::before,
.ppe-fantasy-fairy-sprites::before,
.ppe-fantasy-defensive-shield::before,
.ppe-fantasy-magic-potion::before,
.ppe-fantasy-wizard-staff::before,
.ppe-fantasy-glowing-runes::before,
.ppe-fantasy-skull-medallion::before,
.ppe-fantasy-treasure-n-key::before,
.ppe-anime-radiating-energy::before,
.ppe-anime-soul-leaving-body::before,
.ppe-anime-sweat-drops::before,
.ppe-anime-starry-eyed::before,
.ppe-anime-in-love::before,
.ppem-AD-Chat-mock-msg-avatar::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--background-modifier-accent);
}
.ppem-AD-Chat-mock-msg-avatar-decoration {
  position: absolute;
  z-index: 1;
  left: calc(
    var(--custom-message-margin-horizontal) -
      (
        var(--custom-message-avatar-decoration-size) -
          var(--custom-message-avatar-size)
      ) / 2
  );
  margin-top: calc(
    4px - var(--custom-message-spacing-vertical-container-cozy) -
      (
        var(--custom-message-avatar-decoration-size) -
          var(--custom-message-avatar-size)
      ) / 2
  );
  width: var(--custom-message-avatar-decoration-size);
  height: var(--custom-message-avatar-decoration-size);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
