// /* rest css sheet aligns to discords own css reset  */




html,
body {
	margin: 0;
	padding: 0;
}




html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.5;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	border: none;
	background: none;
}


//importing fonts that discord uses

@font-face {
	font-family: "Ginto Nord";
	src: url("GintoNord.otf");
}

@font-face {
	font-family: "Ginto Normal";
	src: url("GintoNormal.otf");
}

@font-face {
	font-family: "Ginto";
	src: url("GintoMedium.otf");
}

@font-face {
	font-family: "Helvetica";
	src: url("Helvetica.ttf");
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("HelveticaNeue.ttf");
}


@font-face {
	font-family: "Whitney";
	src: url("WhitneyBook.otf");
}

@font-face {
	font-family: "ABC Ginto Normal";
	src: url("GintoMedium.otf");
}



//importing and testing the new gg sans fonts that are used by
//discord. 

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 400;
	src: url("ggsansnormal400.woff2")format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 500;
	src: url("ggsans500normal.woff2")format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 600;
	src: url("ggsans600normal.woff2")format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 700;
	src: url("ggsansnormal700.woff2")format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 800;
	src: url("ggsansnormal800.woff2")format("woff2");
}

//italic


@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 400;
	src: url("ggsansitalic400.woff2")format("woff2");
}

@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 500;
	src: url("ggsansItalic500.woff2")format("woff2");
}



@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 600;
	src: url("ggsansitalic600.woff2")format("woff2");
}





@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 700;
	src: url("ggsansitalic700.woff2")format("woff2");
}




@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 800;
	src: url("ggsansitalic800.woff2")format("woff2");
}