@import 'global_vars';

// Place all the styles related to the api::DmMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.server-members-index-container-wrapper {
    min-width: 240px;
    position: relative;
    max-height: 100%;
    outline: 0;
    display: flex;
    user-select: none;

}

.server-members-index-container {
    overflow: hidden scroll;
    padding-right: 0px;
    background-color: $background-secondary;
    width: 240px;
    padding: 0 0 20px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    height: auto;
    position: relative;
    box-sizing: border-box;
    min-height: 0;
    outline: 0;
    user-select: none;
}

.server-members-index-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.server-members-index-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.server-members-index-container::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: $scrollbar-thin-thumb;
    min-height: 40px;
}

.server-members-index-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.server-members-index-container::-webkit-scrollbar-thumb,
.server-members-index-container::-webkit-scrollbar-track {
    visibility: hidden;
}

.server-members-index-container::-webkit-scrollbar-track {
    border-color: $scrollbar-thin-track;
    background-color: $scrollbar-thin-track;
    border: 2px solid $scrollbar-thin-track;
}

// .server-members-ul-padding {
// padding-top: 10px;
/* padding-top: 7.5px; */
/* padding-left: 7.5px; */
/* padding-bottom: 7.5px; */
/* border-radius: 5px;*/

// }

.server-members-header-title {
    padding: 24px 8px 0 16px;
    height: 40px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    font-family: $global-font;
    font-weight: 600;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    color: $channels-default;
    margin-bottom: 5px;
}

.server-member-item {
    position: relative;
    max-width: 224px;
    margin-left: 8px;
    background-color: $background-secondary;
    box-sizing: border-box;
    display: block;
    padding: 1px 0;
    border-radius: 4px;
    transition: none;
    color: $channels-default;
    outline: 0;
}

.server-member-item-offline {
    opacity: 0.3;
}

.server-member-item:hover {
    color: $interactive-hover;
    background-color: $background-modifier-hover;
    opacity: 1;
}



.server-member-layout {
    outline: 0;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
    display: flex;
    -webkit-box-align: center;

}

.server-member-avatar {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    outline: 0;
    justify-content: center;
    -webkit-box-flex: 0;
    align-items: center;
    -webkit-box-pack: center;
    display: flex;
    -webkit-box-align: center;
    overflow: hidden;
}

.server-member-avatar-inner-wrapper {
    width: 32px;
    height: 32px;
    position: relative;
    outline: 0;
    border-radius: 50%;
}



.server-member-avatar-img {
    display: flex;
    align-items: center;
    overflow: hidden;
}


.server-member-avatar-img>img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
}





.server-member-info-wrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 auto;
    min-width: 0;
    -webkit-box-flex: 1;
    outline: 0;
}

.server-member-username-wrapper {
    outline: 0;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.server-member-username-div {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: 0;
}

.server-member-username-span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: 0;

}

.server-member-username {
    outline: 0;
    padding-left: 10px;
    padding-top: 3px;
    font-family: $global-font;
    font-size: 16px;
}

.server-group-owner-icon {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    position: relative;
    top: 1px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    margin-left: 4px;
    color: $text-warning;
}

.server-group-owner-tool-tip {

    opacity: 1.0 !important;
    background: $background-floating !important;
    color: $text-normal !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px;
    // box-shadow: $tool-tip-elevation-high !important;
    border-radius: 5px !important;
    font-family: $global-font !important;
    padding: 6px 12px !important;
    width: fit-content !important;

}