// Place all the styles related to the api::DmMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-members-index-pre-container-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--background-secondary);
  height: 100%;
  outline: 0;
}

.server-members-index-container-wrapper {
  min-width: 240px;
  position: relative;
  max-height: 100%;
  outline: 0;
  display: -webkit-box;
  display: flex;
  user-select: none;
}

.server-members-index-container {
  background-color: var(--background-secondary);
  width: 240px;
  padding: 0 0 20px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  outline: 0;
}

.server-members-ul-padding {
  list-style: none;
}

.server-members-header-title {
  padding: 24px 8px 0 16px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-family: var(--global-font);
  font-weight: 600;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  color: var(--channels-default);
  // margin-bottom: 5px;
}

.server-member-item {
  position: relative;
  max-width: 224px;
  margin-left: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 1px 0;
  border-radius: 4px;
  transition: none;
  outline: 0;
}

.smi-offline {
  opacity: 0.3;
}

.smi-offline:hover {
  opacity: 1;
}

.server-member-layout {
  outline: 0;
  align-items: center;
  border-radius: 4px;
  height: 42px;
  padding: 0 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  // padding-top: 1px;
  // padding-bottom: 1px;
  background-color: var(--background-secondary);
  color: var(--channels-default);
}

.server-member-item:hover .server-member-layout:not(.selected) {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
  opacity: 1;
  cursor: pointer;
}

// .server-member-layout:hover:not(.selected){
//     color: var(--interactive-hover);
//     background-color: var(--background-modifier-hover);
//     opacity: 1;
//     cursor: pointer;
// }

.server-member-layout.selected {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
}

.server-member-avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  outline: 0;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  -webkit-box-flex: 0;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  // overflow: hidden;
}

.server-member-avatar-inner-wrapper {
  width: 32px;
  height: 32px;
  position: relative;
  outline: 0;
  border-radius: 50%;
}

.sml-mask {
  pointer-events: none;
  position: absolute;
  display: block;
  width: auto;
}

.sml-svg {
  position: absolute;
  contain: paint;
}

.sml-svg-masked-pointer-events {
  pointer-events: auto;
  outline: none;
}

.sml-avatar-stack {
  display: grid;
  width: 100%;
  height: 100%;
  outline: 0;
}

.sml-avatar {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.sml-avatar[alt] {
  text-indent: -9999px;
}

.sml-avatar::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--background-modifier-accent);
}

.server-member-avatar-img {
  display: -webkit-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.server-member-avatar-img > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.server-member-info-wrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 auto;
  min-width: 0;
  -webkit-box-flex: 1;
  outline: 0;
}

.server-member-username-wrapper {
  outline: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.server-member-username-div {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: 0;
  font-family: var(--global-font);
}

.server-member-username-span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: 0;
}

.server-member-username {
  outline: 0;
  font-family: var(--global-font);
  font-size: 16px;
  // padding-top: 3px;
  // padding-left: 10px;
}

.server-group-owner-icon {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  position: relative;
  top: 1px;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-left: 4px;
  color: var(--text-warning);
  outline: none;
}

.sml-bot-sticker {
  background: var(--brand-experiment);
  color: var(--white-500);
  height: 15px;
  padding: 0 4px;
  margin-top: 1px;
  border-radius: 3px;
  margin-left: 4px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  font-size: 0.625rem;
  text-transform: uppercase;
  vertical-align: top;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-indent: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sml-bot-check-mark {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -4px;
  outline: none;
}

.sml-bot-text {
  font-size: 10px;
  line-height: 15px;
  position: relative;
  font-weight: 500;
  vertical-align: top;
  font-family: var(--global-font);
  text-transform: uppercase;
}
