//shop dm nav bar button

.shop-dm-nav-button-nav-bar-wrapper {
  position: relative;
  max-width: 224px;
  margin-left: 8px;
  box-sizing: border-box;
  display: block;
  padding: 1px 0;
  border-radius: 4px;
  transition: none;
}

.shop-dm-nav-button-nav-bar {
  padding-right: 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  color: var(--channels-default);
  cursor: pointer;
  border-radius: inherit;
}

.shop-dm-nav-button-nav-bar:hover,
.shop-dm-nav-button-nav-bar:focus-within,
.shop-dm-nav-button-nav-bar.selected:hover,
.shop-dm-nav-button-nav-bar.selected:focus-within {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);

  .shop-avatar-text,
  .shop-avatar-icon {
    color: var(--interactive-hover);
  }
}

.shop-dm-nav-button-nav-bar:active {
  color: var(--interactive-active);
  background-color: var(--background-modifier-active);
}

.shop-dm-nav-button-nav-bar.selected {
  color: var(--interactive-active);
  background-color: var(--background-modifier-selected);

  .shop-avatar-text,
  .shop-avatar-icon {
    color: var(--interactive-active);
  }
}

.shop-nav-bar-link {
  display: flex;
  min-width: 0;
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
  color: inherit;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
}

.shop-avatar-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-width: 0;
  border-radius: 4px;
  height: 42px;
  padding: 0px 8px;
}

.shop-avatar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.shop-avatar-text-wrapper {
  min-width: 0;
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shop-avatar-text-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shop-avatar-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  flex: 0 1 auto;
  font-family: var(--global-font);
}

///end

.shop-main-container {
  background-color: var(--background-floating);
  flex: 1;
  height: 100%;
  min-width: 575px;
}

.shop-scroll {
  height: 100%;
}

.shop-page-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  position: relative;
}

.shop-main-page {
  width: 100%;
  max-width: 1124px;
  padding: 0 32px 32px;
  box-sizing: border-box;
  margin: 44px 0 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.shop-page-bottom-seperator {
  position: absolute;
  pointer-events: none;
  min-height: 0px;
  min-width: 1px;
  flex: 0 0 auto;
  height: 0px;
}

.shop-hero-banner {
  width: 100%;
  height: 300px;
  background: linear-gradient(
    180deg,
    var(--premium-tier-0-header-gradient-1)-9.85%,
    var(--premium-tier-0-header-gradient-2) 35.44%,
    var(--premium-tier-0-header-gradient-3) 55.85%,
    var(--premium-tier-0-header-gradient-4) 100.07%,
    var(--premium-tier-0-header-gradient-5) 110.26%
  );
  background-size: contain, cover;
  background-position: right bottom, center;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  margin-top: 24px;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  box-sizing: border-box;
  position: relative;
  min-width: 500px;
}

.shop-banner-card {
    padding: 32px;
    border-radius: var(--radius-xxl);
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
