.user-nav-bar-mic-settings-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    padding: 8px 12px !important;
    max-width: 50px !important;
    width: fit-content !important;
    text-rendering: optimizeLegibility !important;
    opacity: 1 !important;
  }
  
  .user-nav-bar-headphone-settings-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    padding: 8px 12px !important;
    max-width: 60px !important;
    width: fit-content !important;
    text-rendering: optimizeLegibility !important;
    opacity: 1 !important;
  }
  
  .user-nav-bar-user-settings-tool-tip {
    width: 82px !important;
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    padding: 8px 12px !important;
    text-rendering: optimizeLegibility !important;
    opacity: 1 !important;
  }
  .create-DM-tool-tip-style {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    background: var(--background-floating) !important;
    box-shadow: var(--elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    min-width: 89px !important;
    max-width: 89px !important;
    width: 88px !important;
    height: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    z-index: 102 !important;
    border: 1px solid transparent !important;
    padding: 7px 10px !important;
    will-change: opacity, transform !important;
    opacity: 1 !important;
    text-transform: capitalize !important;
    top: 122px !important;
    text-align: center !important;
  }
  
  
  
  .base-tool-tip-style {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    max-width: 190px !important;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    z-index: 1000 !important;
    border: 5px solid transparent !important;
    padding: 8px 12px !important;
    will-change: opacity, transform !important;
    opacity: 1 !important;
    text-align: center !important;
  }
  
  .dm-server-base-tool-tip-style {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    max-width: 190px !important;
    max-height: 126px !important;
    width: fit-content !important;
    height: fit-content !important;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    z-index: 102 !important;
    border: 1px solid transparent !important;
    padding: 8px 12px !important;
    will-change: opacity, transform !important;
    opacity: 1 !important;
    text-align: center !important;
  }
  
  .tool-tip-contents {
    // padding: 6px 12px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  
  .tool-tip-pointer {
    //   left: calc(50% + 0px);
    border-top-color: var(--background-floating) !important;
    //   top: 100%;
    //   margin-left: -5px;
    //   width: 0;
    //   height: 0;
    //   border: 5px solid transparent;
    //   pointer-events: none;
  }
  
  .channel-nav-thread-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    text-align: center !important;
    padding: 8px 12px !important;
    max-width: 190px !important;
    width: fit-content !important;
    z-index: 101 !important;
  }
  
  .channel-chat-nav-bar-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    background: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
    width: 60px !important;
    z-index: 101 !important;
    opacity: 1 !important;
    // padding: 12px 16px !important;
  }
  
  .usm-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
    max-width: 175px !important;
    width: fit-content !important;
  }
  
  .copy-server-link-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 8px 12px !important;
    border-radius: 5px !important;
    line-height: 16px;
    width: fit-content !important;
    opacity: 1 !important;
    z-index: 1000 !important;
    text-align: center !important;
    max-width: 190px !important;
  
  }
  
  .thread-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    //   box-shadow: var(--elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    // z-index: 1000 !important;
    text-align: center !important;
    //   padding: 6px 12px !important;
    padding: 8px 12px !important;
    max-width: 190px !important;
    width: fit-content !important;
  }
  
  .thread-tool-tip-red {
    font-family: var(--global-font) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    text-align: center !important;
    padding: 8px 12px !important;
    color: var(--red-550) !important;
    width: 410px !important;
    font-style: italic !important;
    background: var(--black-500) !important;
    font-weight: 800 !important;
  }
  
  .thread-tool-tip-blue {
    font-family: var(--global-font) !important;
    background-color: var(--brand-experiment) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    text-align: center !important;
    padding: 8px 12px !important;
    max-width: 190px !important;
    width: fit-content !important;
  }
  
  
  
  .add-a-super-reaction-tool-tip-contents {
    font-family: var(--global-font) !important;
    font-size: 14px;
    line-height: 18px;
    padding-left: 6px;
    font-weight: 500;
    color: var(--text-normal) !important;
    outline: 0;
  }
  
  .add-a-super-reaction-tool-tip-container {
    display: flex;
    align-items: center;
    outline: 0;
    justify-content: center;
  }
  
  .add-a-super-reaction-tool-tip {
    opacity: 1 !important;
    background: var(--background-floating) !important;
    color: var(--text-normal) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px;
    // box-shadow: var(--tool-tip-elevation-high) !important;
    font-family: var(--global-font) !important;
    padding: 8px 12px !important;
    border-radius: 5px !important;
    width: fit-content !important;
    text-overflow: ellipsis !important;
    text-align: left;
  }
  
  
  .msg-icon-thread-tool-tip {
    opacity: 1 !important;
    background: var(--background-floating) !important;
    color: var(--text-normal) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px;
    // box-shadow: var(--tool-tip-elevation-high) !important;
    font-family: var(--global-font) !important;
    padding: 8px 12px !important;
    border-radius: 5px !important;
    width: fit-content !important;
    text-overflow: ellipsis !important;
    max-width: 115px;
    text-align: left;
    // overflow: hidden !important;
  }
  
  
  .msg-icon-more-options-thread-tool-tip {
    opacity: 1 !important;
    background: var(--background-floating) !important;
    color: var(--text-normal) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px;
    // box-shadow: var(--tool-tip-elevation-high) !important;
    font-family: var(--global-font) !important;
    padding: 8px 12px !important;
    border-radius: 5px !important;
    width: fit-content !important;
    text-overflow: ellipsis !important;
    max-width: 115px;
    text-align: left;
    // overflow: hidden !important;
  }
  
  .suom-server-name-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
    max-width: 175px !important;
    width: fit-content !important;
    height: fit-content !important;
    word-wrap: break-word !important;
  }
  
  .suom-copy-name-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--green-360) !important;
    //   background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--white-500) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
    max-width: 175px !important;
    width: fit-content !important;
    height: fit-content !important;
    word-wrap: break-word !important;
  }
  
  .i2sm-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
  }
  
  //msg control container
  
  .msg-control-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
    max-width: 190px !important;
    width: fit-content !important;
    height: fit-content !important;
    word-wrap: break-word !important;
  }
  
  .msg-time-stamp-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
    max-width: none !important;
    width: fit-content !important;
    height: fit-content !important;
    word-wrap: break-word !important;
  }
  
  .delete-msg-time-stamp-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    opacity: 1 !important;
    z-index: 102 !important;
    padding: 8px 12px !important;
    max-width: none !important;
    width: fit-content !important;
    height: fit-content !important;
    word-wrap: break-word !important;
  }
  //server nav bar
  
  .server-nav-bar-tool-tip {
    font-family: var(--global-font) !important;
    background-color: var(--background-floating) !important;
    box-shadow: var(--tool-tip-elevation-high) !important;
    color: var(--text-normal) !important;
    opacity: 1 !important;
    max-width: 196px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    word-wrap: break-word !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    will-change: opacity, transform;
    padding: 8px 12px !important;
    z-index: 102 !important;
    width: fit-content !important;
    text-overflow: ellipsis !important;
    text-align: left !important;
  }
  
  .server-nav-bar-tool-tip-container {
    overflow: hidden;
  }
  .server-nav-bar-tool-tip-contents {
    align-items: flex-start;
    display: flex;
  }
  .server-nav-bar-tool-tip-data-contents {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--text-normal);
    min-width: 0;
  }

// .server-nav-bar-download-apps-tool-tip {
//   opacity: 1 !important;
//   background: var(--background-floating) !important;
//   color: var(--text-normal) !important;
//   font-size: 16px !important;
//   font-weight: 600 !important;
//   line-height: 20px;
//   box-shadow: var(--tool-tip-elevation-high) !important;
//   // padding: 5px 16px !important;
//   padding: 0px 6px !important;
//   border-radius: 5px !important;
//   font-family: var(--global-font) !important;
//   width: 120px !important;
//   text-overflow: ellipsis !important;
//   // max-width: 115px;
//   text-align: left;
//   // overflow: hidden !important;
//   max-height: 40px;
// }

// .server-nav-bar-explore-public-servers-tool-tip {
//   opacity: 1 !important;
//   background: var(--background-floating) !important;
//   color: var(--text-normal) !important;
//   font-size: 16px !important;
//   font-weight: 600 !important;
//   line-height: 20px;
//   box-shadow: var(--tool-tip-elevation-high) !important;

//   padding: 4px 12px !important;
//   border-radius: 5px !important;
//   // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
//   font-family: var(--global-font) !important;
//   width: 160px !important;
//   text-overflow: ellipsis !important;
//   // max-width: 115px;
//   text-align: left;
//   // overflow: hidden !important;
// }

// .add-a-server-nav-bar-tool-tip {
//   opacity: 1 !important;
//   background: var(--background-floating) !important;
//   color: var(--text-normal) !important;
//   font-size: 16px !important;
//   font-weight: 600 !important;
//   line-height: 20px;
//   box-shadow: var(--tool-tip-elevation-high) !important;

//   // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
//   font-family: var(--global-font) !important;
//   padding: 5px 16px !important;
//   border-radius: 5px !important;
//   width: fit-content !important;
//   text-overflow: ellipsis !important;
//   max-width: 115px;
//   text-align: left;
//   // overflow: hidden !important;
// }

// back up of older versions

.server-group-owner-tool-tip {
  opacity: 1 !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px;
  // box-shadow: var(--tool-tip-elevation-high) !important;
  border-radius: 5px !important;
  font-family: var(--global-font) !important;
  padding: 6px 12px !important;
  width: fit-content !important;
}

.Notification-Settings-tool-tip {
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 8px 12px !important;
  border-radius: 5px !important;
  line-height: 16px;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  width: fit-content !important;
  opacity: 1 !important;
}

.pinned-messages-tool-tip {
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 8px 12px !important;
  border-radius: 5px !important;
  line-height: 16px;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  width: fit-content !important;
  opacity: 1 !important;
}

.shb-inbox-message-tool-tip {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 6px 12px !important;
  border-radius: 5px !important;
  width: fit-content !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  line-height: 16px;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  opacity: 1 !important;
}

.shb-help-tool-tip {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 4px 8px !important;
  border-radius: 5px !important;
  width: 27px !important;
  text-align: center !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  line-height: 16px;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  opacity: 1 !important;
}

.shb-hide-members-tool-tip {
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 8px 12px !important;
  border-radius: 5px !important;
  line-height: 16px;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  width: fit-content !important;
  opacity: 1 !important;
}

//messages

.more-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  width: fit-content !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
}

.remove-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  font-family: var(--global-font) !important;
  width: fit-content !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
}

.cancel-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  font-family: var(--global-font) !important;
  width: fit-content !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
}

.accept-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  width: fit-content !important;
  font-family: var(--global-font) !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
}

.ignore-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  width: fit-content !important;
  font-family: var(--global-font) !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
}

//explore servers page

// .verified-tool-tip {
//     font-size: 14px !important;
//     font-weight: 500 !important;
//     padding: 8px 12px !important;
//     border-radius: 5px !important;
//     line-height: 16px;
//     width: fit-content !important;
//     opacity: 1 !important;
//     font-family: var(--global-font) !important;
//     background: var(--background-floating) !important;
//     color: var(--text-normal) !important;
//     box-shadow: var(--tool-tip-elevation-high) !important;
//   }

//   .ps-thread-tool-tip {
//     background: var(--background-floating) !important;
//     color: var(--text-normal) !important;
//     font-size: 14px !important;
//     font-weight: 500 !important;
//     padding: 8px 12px !important;
//     border-radius: 5px !important;
//     line-height: 16px;
//     font-family: var(--global-font) !important;
//     width: fit-content !important;
//     opacity: 1 !important;
//     box-shadow: var(--tool-tip-elevation-high) !important;
//   }

//dm server nav bar
.create-dm-server-nav-bar-tool-tip {
  filter: brightness(125%);
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  text-transform: none;
  // width: 38px !important;
  font-family: var(--global-font) !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
}

//dm server header nav bar

.start-voice-call-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 5px !important;
  width: fit-content !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  color: var(--text-normal) !important;
}

.start-video-call-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  width: fit-content !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  color: var(--text-normal) !important;
}

.dmshb-inbox-message-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  width: fit-content !important;
  background: var(--background-floating) !important;
  color: var(--text-normal) !important;
}

.dmshb-help-tool-tip {
  font-size: 14px !important;
  //   font-weight: 500 !important;
  font-weight: 600 !important;
  padding: 4px 8px !important;
  border-radius: 5px !important;
  width: 27px !important;
  text-align: center !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  line-height: 16px;
  box-shadow: var(--tool-tip-elevation-high) !important;
}

.dmshb-invite-members-tool-tip {
  font-size: 14px !important;
  font-weight: 500 !important;
  //   padding: 8px 12px !important;
  padding: 6px 12px !important;
  border-radius: 5px !important;
  opacity: 1 !important;
  width: fit-content !important;
  font-family: var(--global-font) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  color: var(--text-normal) !important;
  background: var(--background-floating) !important;
  line-height: 16px;
}

.dmshb-hide-members-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  width: fit-content !important;
  background: var(--black-500) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  color: var(--text-normal) !important;
}

.dmshb-hide-user-profile-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  border-radius: 4px !important;
  width: fit-content !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  color: var(--text-normal) !important;
}

//dm server memebers list

.dmshb-group-owner-tool-tip {
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  box-shadow: var(--elevation-high) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 6px 12px !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  width: fit-content !important;
  text-align: center !important;
  max-width: 190px !important;
  box-sizing: border-box !important;
  word-wrap: break-word !important;
  z-index: 1000 !important;
  border: 5px solid transparent !important;
  will-change: opacity, transform !important;
  opacity: 1 !important;
  text-align: center !important;
}

//channnel nav bar

//channels info type section

.channel-nav-bar-tool-tip {
  font-size: 8px !important;
  padding: 6px 10px !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  // padding: 8px 12px !important;
  // max-width: 190px !important;
  // width: fit-content !important;
  // width: 38px !important;
}

.text-channel-nav-bar-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  width: fit-content !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.voice-channel-nav-bar-tool-tip {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  width: fit-content !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.channel-nav-bar-tool-tip-1 {
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  width: fit-content !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.create-channel-nav-bar-tool-tip {
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 4px 12px !important;
  width: 80px !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.create-voice-channel-nav-bar-tool-tip {
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 6px 12px !important;
  width: 80px !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.create-channel-invite-nav-bar-tool-tip {
  font-size: 13px !important;
  font-weight: 600 !important;
  padding: 6px 16px !important;
  width: 70px !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.create-voice-channel-invite-nav-bar-tool-tip {
  font-size: 13px !important;
  font-weight: 600 !important;
  padding: 12px 16px !important;
  width: 70px !important;
  box-shadow: 0 5px 10px var(--black-500-hsl-02) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}

.voice-channel-settings-nav-bar-tool-tip {
  padding: 5px 16px !important;
  width: 70px !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  opacity: 1 !important;
  z-index: 102 !important;
  text-align: center !important;
  font-size: 13px !important;
  padding: 5px 16px !important;
  // line-height: 16px !important;
}

.channel-settings-nav-bar-tool-tip {
  font-size: 13px !important;
  font-weight: 600 !important;
  padding: 6px 16px !important;
  width: 70px !important;
  box-shadow: var(--tool-tip-elevation-high) !important;
  font-family: var(--global-font) !important;
  background-color: var(--background-floating) !important;
  color: var(--text-normal) !important;
  border-radius: 5px !important;
  line-height: 16px !important;
  opacity: 1 !important;
  z-index: 102 !important;
}
