.user-nav-bar-panel {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: hsla(228, 6.7%, 14.7%, 1.0);
    z-index: 1;
    user-select: none;
    // -webkit-user-drag:none ;

}

.user-nav-blank-wrapper {
    position: relative;
    overflow: visible;
    outline: 0;
}


.user-nav-bar-1 {
    background-color: rgb(35, 36, 40);
    outline: 0;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 1px;
    user-select: none;
    transform: translate(71px, Calc(100vh - 52px));
    z-index: 3;
    width: 225px;
    position: absolute;

}

.user-nav-bar-1:hover {
    z-index: 9;
}

.user-nav-bar-pfp-container {
    align-items: center;
    display: flex;
    margin-left: -2px;
    min-width: 120px;
    padding-left: 2px;
    margin-right: 8px;
    outline: 0;
    user-select: none;

}


.user-nav-bar-pfp-container:hover {
    border-radius: 4px;
    color: hsl(228, 8.8%, 88.8%);
    background-color: hsla(228, 6%, 32.5%, 0.6);
}

.user-nav-bar-pfp-wrapper{
    position: relative;
    border-radius: 50%;
    outline: 0;
    flex-shrink: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;


}




.user-nav-bar-info-container {

    padding-bottom: 4px;
    padding-left: 8px;
    padding-top: 4px;
    cursor: pointer;
    user-select: text;
    flex-grow: 1;
    margin-right: 4px;
    min-width: 0;
    outline: 0;
}

.user-nav-bar-username-container {
    font-family: "Whitney";
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: hsl(228, 8.8%, 88.8%);
    outline: 0;

}

.user-nav-bar-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: hsl(210, 9.1%, 95.7%);
    line-height: 18px;
    font-weight: 600;
    font-family: "Whitney";
    font-size: 14px;
    outline: 0;
}

.user-nav-bar-strife-tag {
    outline: 0;
    font-weight: 400;
    font-family: "Whitney";
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: hsl(231, 5.2%, 73.5%);
    line-height: 13px;
}

.user-nav-bar-button-container {
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    outline: 0;
}


.user-nav-bar-buttons {
    cursor: pointer;
    line-height: 0;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    color: hsl(231, 5.2%, 73.5%);
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    user-select: none;
}



.user-nav-bar-buttons:hover {
    color: hsl(228, 8.8%, 88.8%);
    background-color: hsla(228, 6%, 32.5%, 0.6);
}


.user-nav-bar-button-deafen {
    cursor: pointer;
}


.user-nav-bar-button-gear {
    cursor: pointer;
}



.svg-microphone-1,
.svg-muted-microphone-1,
.svg-headphone-1,
.svg-muted-headphone-1,
.fa-gear-1 {
    color: #B9BBBE;
}


.strikethrough-mic {
    color: hsl(359, 87.3%, 59.8%);
}



.user-nav-bar-mic-settings-tool-tip {
    background: #000000 !important;
    color: hsl(228, 8.8%, 88.8%) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 12px 2px !important;
    border-radius: 4px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    font-family: "Whitney" !important;
    width: 70px !important;
    text-rendering: optimizeLegibility !important;
}


.user-nav-bar-headphone-settings-tool-tip {
    background: #000000 !important;
    color: hsl(228, 8.8%, 88.8%) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 12px 8px !important;
    border-radius: 4px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    font-family: "Whitney" !important;
    width: 70px !important;
    text-rendering: optimizeLegibility !important;

}



.user-nav-bar-user-settings-tool-tip {
    background: #000000 !important;
    color: hsl(228, 8.8%, 88.8%) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 12px 16px !important;
    border-radius: 4px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    font-family: "Whitney" !important;
    width: 80px !important;
    text-rendering: optimizeLegibility !important;

}
