.search-modal {
    position: absolute;
    top: Calc(50% - 200px);
    left: Calc(50% - 180px);
    // height: auto;
    height: 400px;
    // min-height: 505px;
    min-width: 400px;
    background-color: rgb(55, 57, 62);
    overflow: hidden;
    border-radius: 5px;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    display: block;
    border: none;

    .close-form {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        z-index: 3;
        color: #A6ABB0;

        svg path {
            transition: 0.2s;
        }
    }

    .close-form:hover {
        svg path {
            fill: #2E3338;
            transition: 0.2s;
        }
    }


    .user-search-header {
        margin-bottom: 16px;
        flex: 0 0 auto;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 16px;
    }

    .search-result-body {
        max-height: 250px;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;

        .channel-type-text {
            font-size: 12px;
            line-height: 16px;
            color: #dcddde;
            margin-bottom: 8px;
            font-weight: 600;
        }

        .create-channel-type {
            margin-bottom: 20px;

            .text-channel-type {
                background-color: #2f3136;
                color: #b9bbbe;
                margin-bottom: 8px;
                cursor: pointer;
                border-radius: 3px;
                display: block;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
            }

            .text-channel-type[aria-checked="true"] {
                background-color: #202225;
                color: white;
            }

            .channel-type-info {
                margin-right: 8px;
                width: 100%;
                display: flex;
                grid-gap: 4px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .channel-type-hash {
                    opacity: 0.6;
                    margin-right: 6px;
                    fill: #b9bbbe;
                }

                .channel-type-description {
                    display: flex;
                    flex-direction: column;
                }

                .channel-type-heading {
                    font-size: 15px;
                    padding-bottom: 6px;
                    font-weight: 500;
                    color: #dcddde;
                }

                .channel-type-description-text {
                    font-size: 11px;
                    color: #dcddde;
                }
            }
        }

        .create-channel-name {
            margin-bottom: 20px;
        }

        .search-result-input-wrapper {
            .channel-name-placeholder-hash {
                margin-left: 3px;
                color: #b9bbbe;
                margin: 0px 5px 0px 8px;
                color: #b9bbbe;
                font-size: 20px;
            }

            position: relative;
            border-radius: 3px;
            display: flex;
            align-items: center;
            background-color: rgb(29, 31, 33);
            height: 30px;
            margin-bottom: 15px;

            channel-name-input-field:focus,
            input:focus {
                outline: none;
            }

            .search-result-input-field {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                color: white;
                padding-left: 2px;
                width: 95%;
            }
        }

        .search-result-list {
            max-height: 200px;
            overflow: auto;

            .no-users-found {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                color: #767575;
                font-size: 15px;
                font-weight: 700;
            }

            .searched-user-wrapper {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                .searched-user {
                    display: flex;
                    align-items: center;
                    color: white;
                    font-size: 13px;
                    font-weight: 600;

                    .searched-user-pfp {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                .search-user-checkbox {
                    background: rgba(0, 0, 0, 0);
                    border: 1px solid gray;
                    height: 20px;
                    width: 20px;
                    border-radius: 3px;
                    margin-right: 5px;
                }

                .search-user-checkbox-checked {
                    border: 1px solid rgb(90, 90, 90);
                }

                .search-user-checkbox {
                    background: rgba(0, 0, 0, 0);
                    border: 1px solid gray;
                    height: 20px;
                    width: 20px;
                    border-radius: 3px;
                    margin-right: 5px;
                }

                .search-user-checkbox-checked {
                    border: 1px solid rgb(90, 90, 90);
                }

                .search-server-user-checkbox {
                    border: 1px solid #0f9b0e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    width: 70px;
                    height: 30px;
                    color: #0f9b0f;
                    font-size: 13px;
                    font-weight: 600;
                }

                .search-user-server-checkbox-checked {
                    background-color: #0f9b0e;
                    color: white;
                }
            }
        }
    }

    .search-modal-footer {
        flex: 0 0 auto;
        background-color: #2f3136;
        border-radius: 0 0 5px 5px;
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: 16px;
        z-index: 1;
        overflow-x: hidden;
        display: flex;
        flex-direction: row-reverse;

        .search-modal-submit {
            border: none;
            color: #fff;
            background-color: #7289da;
            height: 38px;
            min-height: 38px;
            border-radius: 3px;
            font-size: 13px;
            padding: 10px;
            cursor: pointer;
            transition: 0.3s;
            width: 100%;
        }

        .serach-modal-submit:hover {
            background-color: #6a7fcc;
        }

        .serach-modal-submit[disabled="true"] {
            opacity: 0.5;
        }

        .serach-modal-submit-true {
            opacity: 0.5;
        }
    }

    .search-server-modal-footer {
        flex: 0 0 auto;
        background-color: #2f3136;
        border-radius: 0 0 5px 5px;
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        z-index: 1;
        overflow-x: hidden;
        display: flex;
        border: 1px solid #2e3338;
        border-right: none;
        border-left: none;
        border-bottom: none;

        .search-searver-invite-footer {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        p {
            margin-top: 10px;
            font-size: 12px;
            font-weight: 600;
            color: #8d8c8c;
            margin-left: 10px;
        }

        .search-server-invite-input-wrapper {
            background-color: #202225;
            border-radius: 3px;
            margin: 0 15px 10px 15px;
            height: 30px;
            border: 1px solid #191919;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                background: none;
                outline: none;
                width: 80%;
                text-decoration: none !important;
                border: none;
            }

            input:focus {
                outline: none;
                text-decoration: none !important;
            }

            button {
                width: 60px;
                border: none;
                background-color: #7289da;
                color: white;
                height: 23px;
                border-radius: 2px;
                margin-right: 2px;
                cursor: pointer;
            }
        }
    }
}

.search-modal.transition-out {
    animation-name: disappear;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.cancel-modal-button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 13px;
    cursor: pointer;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
}

.cancel-modal-button:hover {
    text-decoration: underline;
}

.search-modal-btn {
    background: #202225;
    width: 200px;
    border: 1px solid #202225;
    border-radius: 3px;
    height: 30px;
    margin-left: 20px;
    color: rgb(114, 117, 123);
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}

.settings-img {
    height: auto;
    width: 35px;
  }
  