#banner-message {
    position: relative;
    text-align: center;
    width: 50%;
}

#intro-header {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Ginto Nord", Arial, Helvetica, sans-serif;

}

#intro_p_text {
    font-size: 20px;
    padding-bottom: 20px;
}

#banner-message a,
#register-embedded-text a,
#fake-download-windows a {
    padding: 12px;
    border: 1px solid white;
    border-radius: 40px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    width: 270px;
}

#banner-message a {
    background-color: white;
}

#banner-message a:hover {
    color: #5865F2;
}


#register-embedded-text a,
#fake-download-windows a {
    background-color: #5865F2;
    color: white
}

#register-embedded-text a:hover,
#fake-download-windows a:hover {
    filter: brightness(125%);
}







