#splash-nav{
  
    font-family: "Whitney", Arial, Helvetica, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-top: 35px;
    font-size: 16px;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    // height: 100%;
    display: flex;
    // flex-direction: row;
  
    background: rgb(64, 78, 237);
    padding-top: 20px;
    color: white;
    align-items: center;

 
}

#splash-nav-links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

#splash-nav-links .link{
    padding-right: 10px;
    padding-left: 10px;
}

.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

#splash-nav a:hover .footer-list a:hover{
    text-decoration: underline;
}



#login a {
    background-color: white;
    border: 1px solid white;
    border-radius: 40px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px;
}
#login a:hover {
    color: #5865F2;
    text-decoration: none;
}
#website-name{
    font-weight: bold;
}




#splash-home{
    height: 100%;
width:100%
}


#splash-banner{
    height: 700px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    // content: image_url('home2.png');
    background-image: image_url('home2.png');
    // display: block;
    // background-attachment:;
    // background-position: center center;
    // background-repeat: no-repeat;
    background-size :cover;
    line-height: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
//   margin : auto;

}

// .splash-img{
//     content: image_url('hiresbackground.png');
// }


#banner-message {
    position: relative;
    text-align: center;
    width: 50%;
}

#intro-header {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Ginto Nord", Arial, Helvetica, sans-serif;

}

#intro_p_text {
    font-size: 20px;
    padding-bottom: 25px;
    // margin: 40px 0 0;
    line-height: 1.6;
    
}

#banner-message a,
#register-embedded-text a,
#fake-download-windows a {
    padding: 12px;
    border: 1px solid white;
    border-radius: 40px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    width: 270px;
}

#banner-message a {
    background-color: white;
}

#banner-message a:hover {
    color: #5865F2;
}


#register-embedded-text a,
#fake-download-windows a {
    background-color: #5865F2;
    color: white
}

#register-embedded-text a:hover,
#fake-download-windows a:hover {
    filter: brightness(125%);
}


.odd-div, .even-div{
    height: 600px;
    width: 90%;
    min-height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bottom-winddown-div{
    height: 100%;
    width: 90%;
    min-height: 300px;
    padding-left: 5%;
    padding-right: 5%;
}

.odd-div{
    background-color: white;
}

.even-div, .bottom-winddown-div, .last-div{
    background-color: rgb(246,246,246) ;
}

.odd-div-img1{
 content: image_url("textchat1.svg");
}

.odd-div-img2{
    content: image_url("textchat2.svg");
}

.even-div-img1{
    content: image_url("textchat3.svg");
}

.last-div-img1{
    content: image_url("drinkingjuice.svg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.odd-div-msg{
    width: 35%;
}
//uses "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
.odd-div-header{
    color: #23272a;
    font-weight: bolder; 
    font-size: 48px;
    font-family: "Ginto Normal";
    padding-bottom: 25px;
}

.odd-div-ptag{
    font-size: 20px;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight:lighter;
    color: #2d3c4b;
    line-height: 1.625;
}

#bottom-windows-download{
    padding-top: 50px;
    text-align: center;
}
// 5865f2

.bwd{
    padding: 12px;
    border: 1px solid black;
    border-radius: 40px;
    color: white;
    background-color: #5865F2;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    width: 270px;
}


.last-div-header{
    color: #23272a;
    font-weight: 900; 
    font-size: 40px;
    font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;;
    // font-family: "Ginto Nord";
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
    text-align: center;
    
}

.bottom-windows-div-header{
font-size: 32px;
font-weight: 600;
}
.sparkles1{
    padding-top: 40px;
    content: image_url("sparkles.svg");
}

// .last-div-msg{
//     position: relative;
//     text-align: center;
//     font-size: 20px;
//     font-family: "Whitney","Helvetica Neue","Helvetica","Arial";
//     width: 50%;
// }


.last-div-ptag{
    font-size: 20px;
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial";
    // width: 50%;
    font-weight:lighter;
    color: #2d3c4b;
    position: relative;
    text-align: center;
    line-height: 1.625;
}