.channel-nav-bar {
    outline: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    overflow: hidden;
    forced-color-adjust: none;
    flex-direction: column;
    min-height: 0;
    width: 240px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background: hsl(223, 6.9%, 19.8%);
}

.channel-nav-bar-container{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    position: relative;
    background-color: hsl(223, 6.9%, 19.8%);
    forced-color-adjust: none;

}