


.create_dm_modal-wrapper{

}

.create_dm_modal-popup{
    position: absolute;
    top: 186px;
    left: 278px;
    forced-color-adjust: none;
    pointer-events: auto;
    outline: 0;
}

.create_dm_modal-focus-lock{
    flex-direction: column;
    min-height: 0;
    max-width: 100%;
    outline: 0;
    forced-color-adjust: none;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;


}

.create_dm_modal{

}


