// Place all the styles related to the api::DmMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dm-members-index-container{
    width:240px;
    flex-shrink: 0;
    background-color: #36393F;
}