// Place all the styles related to the api::DmServers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//dm nav bar container


.dm-server-nav-bar {
    top: 0px;
    left: 0px;
    position: absolute;
    height: calc(100vh - 49px);
    background-color: #2f3136;
    width: 225px;
    padding-left: 5px;
    padding-right: 5px;
    transform: translate(75px, 0px);
    z-index: 2;
    overflow: hidden scroll;
}
.dm-server-nav-bar::-webkit-scrollbar {
    width: 5px;
}

.dm-server-nav-bar::-webkit-scrollbar-thumb {
    background: rgb(30, 35, 40);
    border-radius: 5px;
    visibility: hidden;
}

.dm-server-nav-bar:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}

.dm-server-nav-bar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(40, 45, 50);
    visibility: hidden;

}

.dm-server-nav-bar:hover::-webkit-scrollbar-track {
    visibility: visible;
}



.fake-nav-bar {
    height: 50px;
    width: 225px;
}


.split-line {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1.5px;
    width: 235px;
    background-color: #232428;
    transform: translate(0px, 50px);
}

.dm-list-header {
    display: flex;
    text-align: left;
    color: rgb(150, 152, 157);
    padding-left: 16px;
    padding-bottom: 10px;
    padding-right: 10px;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    font-family: "Ginto";
}

.dm-list-header h4:hover{
    filter: brightness(125%);
}


.dm-tool-tip {
    visibility: hidden;
    font-size: 12px;
    width: 100px;
    height: 30px;
    position: absolute;
    background-color: rgb(25, 25, 28);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-45px, -55px);
    color: rgb(225, 225, 225);
    z-index: 6;
}

.create-channel-div:hover .dm-tool-tip {
    visibility: visible;
}


.dm-tool-tip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(25, 25, 28) transparent transparent transparent;
}



.dm-nav-bar-list {
    height: 84%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    // overflow: hidden scroll;

}

.dm-nav-bar-list::-webkit-scrollbar {
    width: 5px;
}

.dm-nav-bar-list::-webkit-scrollbar-thumb {
    background: rgb(30, 35, 40);
    border-radius: 5px;
}

.dm-nav-bar-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(40, 45, 50)
}




.dm-nav-bar-list a {
    border-radius: 5px;
    text-decoration: none;
    color: rgb(151, 152, 157);
}

.dm-member-li-item{
    display: flex;
    padding-top: 7.5px;
    padding-left: 15px;
    padding-bottom: 7.5px;
    border-radius: 5px;
}


.dm-member-li-item:hover{
    background-color: #3A3C43;

}

.dm-member-username{
    padding-left: 10px;
    padding-top: 3px;
    font-family: "Whitney";
    font-size: 16px;
}

.selected-dm-server{
    background-color: #3A3C43;
    color: #FFFFFF;

}


.dm-server-li-item{
    display: flex;
    padding-top: 7.5px;
    padding-left: 15px;
    padding-bottom: 7.5px;
    border-radius: 5px;
}


.dm-server-li-item:hover{
    background-color: #3A3C43;

}

.dm-server-name{
    padding-left: 10px;
    padding-top: 3px;
    font-family: "Whitney";
    font-size: 16px;
}
