//header navbar that diosplays on top of the screen of each dm server

.dm-server-header-bar{
    flex: 0 0 auto;
    z-index: 100;
    background: hsl(220,7.7%,22.9%);
    forced-color-adjust: none;
    position: relative;
    -webkit-box-flex: 0;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    user-select: none;
    color: hsl(210,2.9%,86.7%);
}

.dm-server-bar-children{
    align-items: center;
    min-width: 0;
    overflow: hidden;
    box-sizing: border-box;
    forced-color-adjust: none;
    display: flex;
    -webkit-box-align: center;
    flex: 1 1 auto;
    position: relative;
    -webkit-box-flex: 1;
}

.dms-children-icon-wrapper{
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 8px;
    box-sizing: border-box;
    outline: 0;

}

.icon-at-sym{
    forced-color-adjust: none;
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    color: hsl(213,4.1%,57.5%);
}

.dms-hbar-name{
    forced-color-adjust: none;
    flex: 0 0 auto;
    min-width: auto;
    margin: 0 8px 0 0;
    -webkit-box-flex: 0;
    box-sizing: border-box;
    outline: 0;
}
.dms-hbar-name-header{
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: start;
    cursor: pointer;
    forced-color-adjust: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    font-family: "ABC Ginto Normal";

}

.dms-member-online-status{
    forced-color-adjust: none;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    margin-right: 8px;
    box-sizing: border-box;
    outline: 0;
}

.dmshb-spacer{
    forced-color-adjust: none;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    box-sizing: border-box;
    outline: 0;
}

.dmshb-tool-bar{
    forced-color-adjust: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-width: 0;
    box-sizing: border-box;
    outline: 0;

}

.dmshb-tool-icon-wrapper{
    forced-color-adjust: none;
    outline: 0;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.icon-phone{
 color: hsl(216,3.7%,73.5%);
 display: block;
 width: 24px;
 height: 24px;
 -webkit-app-region: no-drag;
 forced-color-adjust: none;
 box-sizing: border-box;

}

.icon-webcall{
    color: hsl(216,3.7%,73.5%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
}

.icon-pin-messages{
    color: hsl(216,3.7%,73.5%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
}

.icon-add-members{
    color: hsl(216,3.7%,73.5%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    forced-color-adjust: none;
    box-sizing: border-box;
}

.dmshbar-search-bar-wrapper{
    forced-color-adjust: none;
    margin: 0 8px;
    box-sizing: border-box;
    outline: 0;
}

.dmshbar-search-bar-inner-wrapper{
    forced-color-adjust: none;
    position: relative;
    overflow: visible;
    z-index: 100;
    -webkit-app-region: no-drag;
    box-sizing: border-box;
    outline: 0;

}

.dmshbar-search-bar{
    transition: width .25s ease;
    forced-color-adjust: none;
    outline: 0;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    align-items: stretch;
    height: 24px;
    width: 144px;
    border-radius: 4px;
    display: flex;
    -webkit-box-align: stretch;
    box-sizing: border-box;
    color: hsl(210,2.9%,86.7%);
    background-color: hsl(216,7.2%,13.5%);

}