//header navbar that diosplays on top of the screen of each dm server

.dm-server-header-bar{
    flex: 0 0 auto;
    z-index: 100;
    background: hsl(220,7.7%,22.9%);
    forced-color-adjust: none;
    position: relative;
    -webkit-box-flex: 0;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    user-select: none;
    color: hsl(210,2.9%,86.7%);
}