.da-layer {
    forced-color-adjust: none;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none !important;
    pointer-events: none;
    z-index: 1002;
}

.da-backdrop {
    forced-color-adjust: none;
    outline: 0;
    background: hsl(0, 0%, 0%);
    opacity: 0.85;
    pointer-events: all;
    transform: translateZ(0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.da-flex-layer {
    forced-color-adjust: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 0;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.da-focus-lock {
    forced-color-adjust: none;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 0;
    max-width: 100%;
    outline: 0;
}

.da-dl-apps {
    opacity: 1;
    transform: scale(1);
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 880px;
    min-height: 387px;
    padding: 32px;
    width: 440px;
    max-height: 720px;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
    background-color: hsl(0, 0%, 100%) !important;
    box-shadow: 0 0 0 1px hsla(216, 3.7%, 73.5%, 0.3), 0 2px 10px 0 hsla(0, 0%, 0%, 0.1) !important;

}

.da-dl-apps-inner {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-pack: center;
}


.close-da {
    forced-color-adjust: none;
    color: #4f5660;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 26px;
    padding: 4px;
    transition: opacity .2s ease-in-out;
    opacity: .5;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: content-box;
    width: auto;
    border: 0;
    margin: 0;
    background: #0000;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    user-select: none;
    outline: 0;
    font-family: "Whitney";
    text-rendering: optimizeLegibility;
}

.close-da-contents {
    outline: 0;
    forced-color-adjust: none;


}

.close-da-icon {
    forced-color-adjust: none;
}

.platform-wraps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    outline: 0;
    forced-color-adjust: none;
    flex-direction: column;
}


.platform-wraps-h3 {
    outline: 0;
    forced-color-adjust: none;
    text-align: center;
    align-items: center;
    margin-bottom: 32px;
    color: #060607;
    -webkit-box-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: "ABC Ginto Normal";

}

.platforms-ul {
    display: flex;
    list-style: none;
    forced-color-adjust: none;
}

.platforms-li-item {
    forced-color-adjust: none;
    backface-visibility: hidden;
    border: 2px solid #747f8d;
    padding: 32px 12px 12px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    transition: all .3s ease-in-out;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 8px;
    margin-left: 15px;
    height: 260px;
    width: 196px;
    box-sizing: border-box;
    display: flex;
}

.platforms-li-item:hover {
    transform: scale(1.025);
    border-color: hsl(235, 85.6%, 64.7%);
}


.platforms-li-item-inner-wrapper {
    forced-color-adjust: none;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
    flex-grow: 1;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    outline: 0;
}

.platforms-icon-wrap {
    forced-color-adjust: none;
    align-self: center;
    position: relative;
    width: 100px;
    height: 100px;
    outline: 0;


}

.platform-apple-icon {
    transition: opacity .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    content: image_url('macos.svg');
    align-self: center;
    outline: 0;
}

.platform-apple-icon-active {
    content: image_url('macos-blue.svg');
    opacity: 0;
    forced-color-adjust: none;
    transition: opacity .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    outline: 0;
}

.da-icon-header {
    forced-color-adjust: none;
    color: #060607;
    text-align: center;
    font-weight: 500;
    font-family: "ABC Ginto Normal";
    font-size: 20px;
    line-height: 24px;
}

.download-app-buttons {
    outline: 0;
    display: flex;
    forced-color-adjust: none;

}

.download-app-buttons-anchor {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-decoration: none;
    outline: 0;
    forced-color-adjust: none;
    background-color: #747f8d;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 0;
    margin-top: 16px;
    transition: background-color .3s ease-in-out;
    color: hsl(0, 0%, 100%);
}


