.fo-layer {
    forced-color-adjust: none;
    background: none !important;
    z-index: 1002;
    transform: translate(-309px, -48px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;


}



.fo-theme {
    position: absolute;
    left: 986px;
    top: 183px;
    forced-color-adjust: none;
    transform: translate3d(7px, 28px, 0px);
    width: 188px;
    min-width: 188px;
    max-width: 188px;
    height: 116px;
}

.fo-flex-wrapper {
    min-width: 165px;
    max-width: 165px;
    min-height: 116px;
    max-height: 116px;
    forced-color-adjust: none;
    outline: 0;
    border-radius: 4px;
    display: flex;
    height: auto;
    cursor: default;
    max-height: calc(100vh - 32px);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.24);
    background: hsl(225, 7.7%, 10.2%);


}

.fo-scroller {
    forced-color-adjust: none;
    outline: 0;
    // overflow: hidden scroll;
    padding-right: 0px;
    padding: 6px 8px;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    position: relative;
    flex: 1 1 auto;
}

.fo-item-container {
    forced-color-adjust: none;
    outline: 0;
    position: relative;
    margin: 2px 0;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    align-items: center;
    min-height: 32px;
    padding: 6px 8px;
    justify-content: space-between;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: justify;
    box-sizing: border-box;
    color: hsl(216, 3.7%, 73.5%);
    border-color: hsl(216, 3.7%, 73.5%);
    font-family: "Whitney";

}


.fo-item-container:hover {
    background-color: hsl(235, 46.7%, 44.1%);
    color: hsl(0, 0%, 100%);
    background-color: hsl(235, 51.4%, 52.4%);
}

.fo-item-name {
    forced-color-adjust: none;
    outline: 0;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
}



.fo-options-bottom-div {
    outline: 0;
    forced-color-adjust: none;
    position: absolute;
    pointer-events: none;
    min-height: 0px;
    min-width: 1px;
    flex: 0 0 auto;
    height: 6px;
}

.fo-item-container.red {
    color: hsl(359, 82.6%, 59.45);
}

.fo-item-container.red:hover {
    background-color: hsl(359, 66.7%, 54.1%);
    color: hsl(0, 0%, 100%);
}