.frfm-backdrop {
    transform: translateZ(0);
    outline: 0;
    forced-color-adjust: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    opacity: 0.85;
    background: hsl(0, 0%, 0%);
}

.frfm-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
    outline: 0;
    forced-color-adjust: none;
}

.frfm {
    forced-color-adjust: none;
    outline: 0;
    min-height: 0;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    user-select: none;
}

.frfm-inner {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
    background-color: hsl(220, 7.7%, 22.9%);
    width: 440px;
    max-height: 720px;
    min-height: 200px;
    word-wrap: break-word;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 1px hsla(216, 7.2%, 13.5%, 0.6), 0 2px 10px 0 hsla(0, 0%, 0%, 0.2);

}

.form-class-200 {
    forced-color-adjust: none;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    word-wrap: break-word;
}

.form-content-1 {
    position: relative;
    z-index: 0;
    border-radius: 5px 5px 0 0;
    padding-left: 8px;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    outline: 0;
    forced-color-adjust: none;
    padding-top: 20px;
    padding-bottom: 20px;

    // overflow: hidden scroll;
    padding-right: 8px;


}

.form-content-1-inner {
    forced-color-adjust: none;
    height: 100%;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: stretch;
    outline: 0;
    -webkit-box-align: stretch;
    display: flex;
}

.form-content-1-header {
    font-family: "ABC Ginto Normal";
    flex: 1;
    cursor: default;
    -webkit-box-flex: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
    forced-color-adjust: none;
    color: hsl(0, 0%, 100%);
}

.form-content-1-subtext {
    forced-color-adjust: none;
    outline: 0;
    color: hsl(210, 2.9%, 86.7%);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: "Whitney";
}

.frfm-div-sep {
    position: absolute;
    pointer-events: none;
    min-height: 0px;
    min-width: 1px;
    flex: 0 0 auto;
    height: 20px;
    forced-color-adjust: none;
    outline: 0;
}

.frfm-button-sec {
    flex: 0 0 auto;
    forced-color-adjust: none;
    outline: 0;
    border-radius: 0 0 5px 5px;
    background-color: hsl(223, 6.9%, 19.8%);
    box-shadow: inset 0 1px 0 hsla(223, 6.9%, 19.8%, 0.6);
    position: relative;
    -webkit-box-flex: 0;
    padding: 16px;
    z-index: 1;
    overflow-x: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;

}

.frfm-button {
    forced-color-adjust: none;
    outline: 0;
    height: 50px;
    min-width: 148px;
    min-height: 50px;
    font-size: 16px;
    line-height: normal;
    padding: 2px 20px;
    transition: background-color .17s ease, color .17s ease;
    flex: 1 1 45%;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    user-select: none;
    -webkit-box-flex: 1;
    width: auto;
    font-family: "Whitney";

    text-rendering: optimizeLegibility;
    color: hsl(0, 0%, 100%);
    background-color: hsl(235, 85.6%, 64.7%);


}