.frfm-backdrop {
    transform: translateZ(0);
    outline: 0;
    forced-color-adjust: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    opacity: 0.85;
    background: hsl(0, 0%, 0%);
}

.frfm-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
    outline: 0;
    forced-color-adjust: none;
}

.frfm {
    forced-color-adjust: none;
    outline: 0;
    min-height: 0;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

}

.frfm-inner {
    forced-color-adjust: none;
    outline: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    margin: 0 auto;
    pointer-events: all;
    position: relative;
    background-color: hsl(220, 7.7%, 22.9%);
    width: 440px;
    max-height: 720px;
    min-height: 200px;
    word-wrap: break-word;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 1px hsla(216, 7.2%, 13.5%, 0.6), 0 2px 10px 0 hsla(0, 0%, 0%, 0.2);

}