.frfm-backdrop {
    transform: translateZ(0);
    outline: 0;
    forced-color-adjust: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    opacity: 0.85;
    background: hsl(0, 0%, 0%);
}

.frfm-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    min-height: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
    outline: 0;
    forced-color-adjust: none;
}

.frfm{
    forced-color-adjust: none;
    outline: 0;
    min-height: 0;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    
}