//this  is a global file that reference styles that will be used across multiple files


.x-To-Close {
  // color: white;

  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 3;

  svg path {
    transition: 0.2s;
  }

}

.x-To-Close:hover {

  // color: white;
  // background-color: white;
  svg path {
    fill: #2E3338;
    transition: 0.2s;
  }
}


//global error renderfunction styles

.rendered-error {
  color: #D83C3E;
  font-size: 12px;
  margin-bottom: 2px;
}


.server-error {
  color: #A12D2F;
  font-size: 12px;
  font-family: "Ginto Normal";
  text-transform: none;
  font-style: italic;
  font-weight: 500;
}


.modal-struct {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;

}


.modal-child-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


label.field-error {
  color: #f38688;
}


.this-is-a-test {
  color: magenta;
  font-size: xx-large;
  font-weight: bolder;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0px;
  // background-color: #ffffffbf;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}


.empty-messages-container{
  top: 0px;
  left: 0px;
  position: absolute;
  width: calc(100vw - 310px);
  height: 100vh;
  transform: translate(310px, 0px);
  background-color: #36393F;
  z-index: -1;
}