//this  is a global file that reference styles that will be used across multiple files


.x-To-Close{
color: white;

position: absolute;
top: 15px;
right: 15px;
cursor: pointer;
z-index: 3;
svg path { 
  transition: 0.2s;
}

}

.x-To-Close:hover{
    // color: white;
    // background-color: white;
    svg path {
        fill: #2e3338;
        transition: 0.2s;
      }
    }