//home nav bar rendered on the home page of the app


.home-nav-bar-container {
    display: flex;
    forced-color-adjust: none;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: hsl(220, 7.7%, 22.9%);
}


.home-nav-bar {
    forced-color-adjust: none;
    background-color: hsl(220, 7.7%, 22.9%);
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 48px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 2;
    align-items: center;
    min-width: 0;
    width: 100%;
    -webkit-box-flex: 0;
    display: flex;
    -webkit-box-align: center;
    position: relative;
    color: hsl(210, 2.9%, 86.7%);

}

.home-nav-bar-inner {
    forced-color-adjust: none;
    align-items: center;
    min-width: 0;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    flex: 1 1 auto;
    position: relative;
    -webkit-box-flex: 1;
    box-sizing: border-box;
}

.home-friends-icon-wrapper {
    flex: 0 0 auto;
    margin: 0 8px;
    box-sizing: border-box;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    forced-color-adjust: none;
    color: hsl(223, 3.4%, 60.2%);

}


.home-nav-bar-friends-text {
    align-items: center;
    forced-color-adjust: none;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0 8px 0 0;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-flex: 0;
    display: flex;
    -webkit-box-align: center;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "ABC Ginto Normal";
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

.home-friend-divider {
    forced-color-adjust: none;
    width: 1px;
    height: 24px;
    margin: 0 8px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background: hsla(217, 7.6%, 33.5%, 0.48);
    box-sizing: border-box;
}


.friends-status-nav-bar {
    forced-color-adjust: none;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    font-family: "Whitney";
    font-size: 16px;
}

.online-tab {
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    cursor: default;
    color: #FFFFFF;
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: hsla(217, 7.6%, 33.5%, 0.6);
}


.all-tab {
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    color: hsl(216, 3.7%, 73.5%);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.pending-tab {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    color: var(--interactive-normal);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blocked-tab {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    color: var(--interactive-normal);
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-friend-tab {
    background-color: var(--status-positive-background);
    color: var(--status-positive-text);
    align-items: center;
    text-align: center;
    min-width: 40px;
    -webkit-app-region: no-drag;
    justify-content: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-box-pack: center;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    forced-color-adjust: none;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.home-nav-tool-bar {
    forced-color-adjust: none;
    -webkit-box-flex: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    min-width: 0;
    box-sizing: border-box;
}

.invite-tool-bar {
    forced-color-adjust: none;
    display: flex;
    box-sizing: border-box;
}

.invite-tool-bar-group-dm {
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: border-box;
}


.inbox-tool-bar {
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    box-sizing: border-box;
}

.help-tool-bar {
    forced-color-adjust: none;
    text-decoration: none;
    color: var(--text-link);
    box-sizing: border-box;
    cursor: pointer;
}

.help-tool-bar-icon-wrapper {
    flex: 0 0 auto;
    margin: 0 8px;
    forced-color-adjust: none;
    position: relative;
    height: 24px;
    width: auto;
    -webkit-box-flex: 0;
    cursor: pointer;
    box-sizing: border-box;
}