.loading-screen-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: $roboto;

    h1 {
        margin-top: 30px;
        font-size: 24px;
        color: $font-sub;
        font-style: italic;
    }

}

.loading-screen-img{
    
}