// Place all the styles related to the api::Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-chat-container {
    forced-color-adjust: none;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.message-wrapper {
    forced-color-adjust: none;
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0;
    outline: 0;
}

.chat-scroller {
    overflow-anchor: none;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 0;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    outline: 0;
    overflow-x: hidden;
}


.chat-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.chat-scroller::-webkit-scrollbar-corner {
    background-color: #0000;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.chat-scroller::-webkit-scrollbar-corner {
    background-color: #0000;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar-track {
    margin-bottom: 8px;
}


.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar-track {
    background-color: hsl(210, 9.8%, 20%);
}



.chat-scroller-content{
    outline: 0;
    display: flex;
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
    forced-color-adjust: none;
}

.chat-scroller-inner{
    list-style: none;
    min-height: 0;
    forced-color-adjust: none;
}


.chat-divider{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    forced-color-adjust: none;
    position: relative;
    left: auto;
    right: auto;
    margin-left: 1rem;
    margin-right: 0.875rem;
    outline: 0;
    z-index: 1;
    height: 0;
    border-top: thin solid hsla(217,7.6%,33.5%,0.48);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    pointer-events: none;
    box-sizing: border-box;

}

.chat-divider-content{
    outline: 0;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 2px 4px;
    color: hsl(214,4%,65.3%);
    background: hsl(220,7.7%,22.9%);
    line-height: 13px;
    font-size: 12px;
    margin-top: -1px;
    font-weight: 600;
    forced-color-adjust: none;
    border-radius: 8px;
}

.chat-input-form {}