// Place all the styles related to the api::Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-chat-container {
    forced-color-adjust: none;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.message-wrapper {
    forced-color-adjust: none;
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0;
    outline: 0;
}

.chat-scroller {
    overflow-anchor: none;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 0;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    outline: 0;
    overflow-x: hidden;
}


.chat-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.chat-scroller::-webkit-scrollbar-corner {
    background-color: #0000;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.chat-scroller::-webkit-scrollbar-corner {
    background-color: #0000;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background-color: hsl(216, 7.2%, 13.5%);
    min-height: 40px;
}

.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar-track {
    margin-bottom: 8px;
}


.chat-scroller::-webkit-scrollbar-thumb,
.chat-scroller::-webkit-scrollbar-track {
    border: 4px solid #0000;
    background-clip: padding-box;
    border-radius: 8px;
}

.chat-scroller::-webkit-scrollbar-track {
    background-color: hsl(210, 9.8%, 20%);
}



.chat-scroller-content{
    outline: 0;
    display: flex;
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
    forced-color-adjust: none;
}



.chat-input-form {}