.server-nav-bar {
  height: 100vh;
  // height: auto;
  // height:fit-content;
  width: 225px;
  position: absolute;
  // position:;
  background-color: rgb(32, 34, 37);
  color: white;
  // display: flex;
  // flex-direction: column;
}

// @media only screen and (min-width:1400px) {
//   #splash-banner {

//   }
// }




.server-nav-bar a:hover {
  background-color: #5865F2;
  border-radius: 30%;
}




.server-nav-bar-list {
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  // height: calc(100vh-55px);
  height: auto;
  // height: calc(auto-55px);

}

.server-nav-bar-list li {
  padding: 5px;
  height: 50px;
  padding-left: 0px;
  list-style: none;
  // background-color: rgb(32, 34, 37);
}

//get rid of the stupid windows scroll bar / minimize it so its nearly unseeable its noticieable when a ton of text
// is rendered clipping can be seen
.server-nav-bar-list::-webkit-scrollbar {
  width: 1px;
}

.server-nav-bar-list::-webkit-scrollbar-thumb {
  background: rgb(30, 35, 40);
  border-radius: 5px;
}

.server-nav-bar-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(40, 45, 50);
}





.home-Bubbles {
  font-size: 25px;
}

.server-bubbles .server-nav-bar-tool-kit {
  visibility: hidden;
  position: relative;
  background-color: rgb(25, 25, 25);
  color: #FFFFFF;
  border-radius: 5px;
  width: fit-content;
  max-width: 115px;
  text-align: left;
  padding: 5px;
  z-index: 5;
  top: -50px;
  left: 85px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  font-family: "Ginto", Arial, Helvetica, sans-serif;

}

.server-bubbles:hover .server-nav-bar-tool-kit {
  visibility: visible;
  z-index: 5;
}

.server-nav-bar-a {
  width: 75px;
  display: flex;
  justify-content: center;
}

.bottom-server-bubble-seperator-container {
  width: 75px;
  height: 2px;
  display: flex;
  justify-content: center;
  // padding-bottom:15px;

  // background-color:rgb(32, 34, 37);
}

.bottom-server-bubble-seperator {
  width: 37.5px;
  height: 2px;
  background-color: #383A3F;
  border-radius: 5px;
}


.server-bubble-seperator-container {
  width: 75px;
  height: 2px;
  display: flex;
  justify-content: center;

  // background-color:rgb(32, 34, 37);
}

.server-bubble-seperator {
  width: 37.5px;
  height: 2px;
  background-color: #383A3F;
  border-radius: 5px;
}

.unselected-Server,
.selected-Server {
  text-decoration: none;
  color: rgb(221, 221, 221);
  cursor: pointer;
  font-size: 20px;
  font-family: bold;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
}

.unselected-Server {
  background-color: rgb(56, 57, 62);
  border-radius: 50%;
}

.selected-Server {
  background-color: #5865F2;
  border-radius: 30%;
}

//server nav bar modals
// createServer modal file name Create_server_form.jsx called in server nav bar.jsx these aare buttons to call these forms
#create-server,
#search-servers,
#download-apps {
  text-decoration: none;
  border-style: none;
  border-color: rgb(56, 57, 62);
  color: rgb(221, 221, 221);
  background-color: rgb(56, 57, 62);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.4s;
  color: rgb(60, 163, 92);
  padding: 0;
}

#create-server:hover,
#search-servers:hover,
#download-apps:hover {
  background-color: rgb(60, 163, 92);
  color: #FFFFFF;
  border-radius: 30%;
}

// .circleIconButton-1VxDrg{
//   background-color: rgb(60, 163, 92);
//   color: #FFFFFF;
//   border-radius: 30%;
// }

//server nav bar modals 

//create server modal - called in file create_server_form.jsx and create_server_form_container.js


//create server modal wrapper the wrapper is basically a background element that makes 
// fades out the colors of all elements behind the modal

.create-A-Server-Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  animation-name: wrapperRender;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  z-index: 3;


  .create-A-Server-Modal {
    position: absolute;
    // top: Calc(50% - 180px);
    top: Calc(50% - 280px);
    left: Calc(50% - 200px);
    // top: Calc(50% - 180px);
    // left: Calc(50% - 220px);
    height: auto;
    // min-width: 500px;
    // max-width: 500px;
    // min-width: 450px;
    // max-width: 450px;
    min-width: 440px;
    max-width: 440px;
    background-color: rgba(0, 0, 0, 0);
    // overflow: hidden scroll;
    overflow: hidden;

    border-radius: 5px;
    animation-name: createServerModalAppear;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    display: block;
    border: none;


    .x-To-Close {
      // color: white;

      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 3;

      svg path {
        transition: 0.2s;
      }
    }

    .x-To-Close:hover {
      svg path {
        fill: #2E3338;
        transition: 0.2s;
      }
    }


    .all-Slides {
      z-index: 2;
      min-width: 1320px;
      height: auto;
      // height: 400px;
      display: flex;
      align-items: center;
      // overflow: hidden scroll;
      // overflow: hidden scroll;
      // overflow: visible scroll;

      position: relative;
      top: 0;


      .first-Slide {
        // min-width: 500px;
        // max-width: 500px;
        min-width: 450px;
        max-width: 450px;
        // height: 330px;
        // height: 650px;
        height: 558px;

        // max-height: 610px;
        // height:auto;
        // height: 880px;
        //  overflow: hidden scroll;

        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .start-from-template {
          color: #4F5660;
          font-size: 12px;
          font-family: "Whitney";
          text-transform: uppercase;
          margin-top: 16px;
          margin-bottom: 8px;
          font-weight: 700;
          line-height: 16px;

          h2 {
            // position: absolute;
            // position: fixed;
            text-align: left;
            left: 20px;
            padding-bottom: 10px;
            padding-left:5px;
            // padding-right: 200px;
          }

        }

        // .start-from-template h2 {
        //   // position: absolute;
        //   position: fixed;
        //   left: 20px;
        //   padding-bottom: 10px;
        // }

        .first-Slide-Header {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 24px 16px 0 16px;

          h2 {
            font-size: 25px;
            color: #060607;
            font-weight: 700;
            margin-top: 0px;
            font-family: "Ginto Normal";
            padding-bottom: 10px;
          }

          p {
            color: #4F5660;
            font-size: 16px;
            line-height: 20px;
            margin-top: 0px;
            font-weight: 400;
            font-family: "Whitney";
            padding-bottom: 25px;

          }
        }

        .slide1-To-Slide2-Button {
          cursor: pointer;
          width: 97%;
          // width: 100%;

          min-height: 66px;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: space-between;
          border: 2px solid rgba(6, 6, 7, 0.08);
          border-radius: 8px;
          background-color: #FFFFFF;


          div {
            display: flex;
            text-align: center;
            align-items: center;

            img {
              width: 48px;
              height: 48px;
              margin-left: 16px;
            }

            h2 {
              font-size: 16px;
              margin-left: 10px;
              font-weight: 900;
              font-family: "Whitney";

            }

            p {
              font-size: 16px;
              font-family: "Whitney";
            }


          }

          img.arrow {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }

        .slide1-To-Slide2-Button:hover {
          background-color: rgba(100, 116, 128, 0.16);
        }


        .top-separator {
          height: 2px;
          width: 70%;
          border-radius: 2px;
          z-index: 4;
        }

        .bottom-separator {
          height: 2px;
          width: 70%;
          border-radius: 2px;
          z-index: 4;
        }


        .join-Existing-Server {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #F6F6F7;
          position: sticky;

          h2 {
            margin-top: 24px;
            font-size: 20px;
            color: #2E3338;
            font-weight: 600;
            font-family: "Ginto Normal";

          }

          button {

            background-color: #6A7480;
            font-size: 14px;
            font-family: "Whitney";
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            width: 92%;
            height: 38px;
            margin: 16px 0 16px 0;
            cursor: pointer;
            transition: 0.2s;
          }

          button:hover {
            background-color: #4F5660;
            transition: 0.2s;
          }

        }

      }

      .second-Slide {
        min-width: 450px;
        max-width: 450px;
        height: 615px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;



        .second-Slide-Header {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding-inline: 10px;


          h2 {
            font-size: 25px;
            color: #060607;
            font-weight: 700;
            margin-top: 0px;
            font-family: "Ginto Normal";
          }

          p {
            color: #4F5660;
            font-size: 16px;
            line-height: 20px;
            margin-top: 0px;
            font-weight: 400;
            font-family: "Whitney";
          }




        }

        .slide2-to-slide3-button {

          cursor: pointer;
          width: 92%;
          min-height: 60px;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: space-between;
          border: 2px solid rgba(6, 6, 7, 0.08);
          border-radius: 8px;
          margin: 4px 0 8px 0;


          div {
            display: flex;
            text-align: center;
            align-items: center;

            img {
              width: 48px;
              height: 48px;
              margin-left: 16px;
            }

            h2 {
              font-size: 16px;
              margin-left: 10px;
              font-weight: 700;
            }
          }

        }


        .slide2-to-slide3-button:hover {
          background-color: rgba(100, 116, 128, 0.16);
        }

      }

    }

  }



  //animation to slide forward 
  @keyframes slideModal1To2 {

    0% {
      transform: translateX(440px);
    }

    99% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }


  @keyframes slideModal2To3 {

    0% {
      transform: translateX(440px);
    }

    99% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }

  //animations to slide backward
  @keyframes slideBackModal2To1 {

    0% {
      transform: translateX(-440px);
    }

    99% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }

  }


  @keyframes slideBackModal3To2 {

    0% {
      transform: translateX(-440px);
    }

    99% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }

  }


  @keyframes wrapperRender {

    0% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    100% {}

  }


  @keyframes createServerModalAppear {

    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: scale(1, 1);
    }

  }

  @keyframes createServerModalDisappear {

    0% {
      opacity: 1;
      transform: scale(1, 1);
    }

    70% {
      opacity: 0.5;
    }

    100% {
      transform: scale(0.5, 0.5);
    }

  }


}

.dont-Have-A-Server-Img {
  content: image_url("dont_Have_Server_Invite.svg");
}

.public-Server-Img {
  content: image_url("public.svg");

}

.private-Server-Img {
  content: image_url("private.svg");

}



.friends-Server-Img {
  content: image_url("friends_server_icon.svg");

}

.local-Community-Server-Img {
  content: image_url("Local_Community_icon.svg");

}


.artists-and-Creators-Server-Img {
  content: image_url("artists_and_creators_icon.svg");

}




.study-Server-Img {
  content: image_url("studyServerIcon.svg");

}

.school-Club-Server-Img {
  content: image_url("schoolClubServerIcon.svg");

}

.gaming-Server-Img {
  content: image_url("gamingServerIcon.svg");

}

.slide1-To-Slide2-Button .create-A-Server-Img {
  content: image_url("create_server_icon.png");

}

.create_server_arrow_Img {
  content: image_url("create_server_arrow.svg");
}

.arrow {
  content: image_url("create_server_arrow.svg");
  margin-right: 10px;
}


// .start-from-template {
//   color: #4F5660;
//   font-size: 12px;
//   font-family: "Whitney";
//   text-transform: uppercase;
//   margin-top: 16px;
//   margin-bottom: 8px;
//   font-weight: 700;
//   line-height: 16px;

// }

// .start-from-template h2 {
//   position: absolute;
//   left: 20px;
//   padding-bottom: 10px;
// }

.sep {
  width: 95%;
  overflow: hidden scroll;
}

.sep::-webkit-scrollbar-track {
  border-radius: 10px;
 
}

.sep::-webkit-scrollbar {
  width: 5px;
}

.sep::-webkit-scrollbar-thumb {
 

  background: #C1C1C1;
  border-radius: 5px;
}