.server-nav-bar {
  height: 100vh;
  // height: auto;
  // height:fit-content;
  width: 225px;
  position: absolute;
  // position:;
  background-color: rgb(32, 34, 37);
  color: white;
}

// @media only screen and (min-width:1400px) {
//   #splash-banner {
     
//   }
// }




.server-nav-bar a:hover {
  background-color: #5865F2;
  border-radius: 30%;
}




.server-nav-bar-list {
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  // height: calc(100vh-55px);
  height: auto;
  // height: calc(auto-55px);

}

.server-nav-bar-list li {
  padding: 5px;
  height: 50px;
  padding-left: 0px;
  list-style: none;
  // background-color: rgb(32, 34, 37);
}

//get rid of the stupid windows scroll bar / minimize it so its nearly unseeable its noticieable when a ton of text
// is rendered clipping can be seen
.server-nav-bar-list::-webkit-scrollbar {
  width: 1px;
}

.server-nav-bar-list::-webkit-scrollbar-thumb {
  background: rgb(30, 35, 40);
  border-radius: 5px;
}

.server-nav-bar-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(40, 45, 50);
}





.home-Bubbles {
  font-size: 25px;
}

.server-bubbles .server-nav-bar-tool-kit {
  visibility: hidden;
  position: relative;
  background-color: rgb(25, 25, 25);
  color: #FFFFFF;
  border-radius: 5px;
  width: fit-content;
  max-width: 115px;
  text-align: left;
  padding: 5px;
  z-index: 5;
  top: -50px;
  left: 85px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  font-family: "Ginto", Arial, Helvetica, sans-serif;

}

.server-bubbles:hover .server-nav-bar-tool-kit {
  visibility: visible;
  z-index: 5;
}

.server-nav-bar-a {
  width: 75px;
  display: flex;
  justify-content: center;
}

.bottom-server-bubble-seperator-container {
  width: 75px;
  height: 2px;
  display: flex;
  justify-content: center;
  // padding-bottom:15px;

  // background-color:rgb(32, 34, 37);
}

.bottom-server-bubble-seperator {
  width: 37.5px;
  height: 2px;
  background-color: #383A3F;
  border-radius: 5px;
}


.server-bubble-seperator-container {
  width: 75px;
  height: 2px;
  display: flex;
  justify-content: center;
  
  // background-color:rgb(32, 34, 37);
}

.server-bubble-seperator {
  width: 37.5px;
  height: 2px;
  background-color: #383A3F;
  border-radius: 5px;
}

.unselected-Server,
.selected-Server {
  text-decoration: none;
  color: rgb(221, 221, 221);
  cursor: pointer;
  font-size: 20px;
  font-family: bold;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
}

.unselected-Server {
  background-color: rgb(56, 57, 62);
  border-radius: 50%;
}

.selected-Server {
  background-color: #5865F2;
  border-radius: 30%;
}

//server nav bar modals
// createServer modal file name Create_server_form.jsx called in server nav bar.jsx these aare buttons to call these forms
#create-server,
#search-servers,
#download-apps {
  text-decoration: none;
  border-style: none;
  border-color: rgb(56, 57, 62);
  color: rgb(221, 221, 221);
  background-color: rgb(56, 57, 62);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.4s;
  color: rgb(60, 163, 92);
  padding: 0;
}

#create-server:hover,
#search-servers:hover,
#download-apps:hover {
  background-color: rgb(60, 163, 92);
  color: #FFFFFF;
  border-radius: 30%;
}

// .circleIconButton-1VxDrg{
//   background-color: rgb(60, 163, 92);
//   color: #FFFFFF;
//   border-radius: 30%;
// }

//server nav bar modals 

//create server modal - called in file create_server_form.jsx and create_server_form_container.js


//create server modal wrapper the wrapper is basically a background element that makes 
// fades out the colors of all elements behind the modal

.create-A-Server-Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  animation-name: wrapperRender;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  z-index: 3;


  .create-A-Server-Modal {
    position: absolute;
    top: calc(50%-180px);
    left: calc(50%-220px);
    height: auto;
    min-width: 440px;
    max-width: 440px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    border-radius: 5px;
    animation-name: createServerModalAppear;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    display: block;
    border: none;



  }











  //animation to slide forward 
  @keyframes slideModal1To2 {

    0% {
      transform: translateX(440px);
    }

    99% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }


  @keyframes slideModal2To3 {

    0% {
      transform: translateX(440px);
    }

    99% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }

  //animations to slide backward
  @keyframes slideBackModal2To1 {

    0% {
      transform: translateX(-440px);
    }

    99% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }

  }


  @keyframes slideBackModal3To2 {

    0% {
      transform: translateX(-440px);
    }

    99% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }

  }


  @keyframes wrapperRender {

    0% {
      opacity: 0;
    }

    70% {
      opacity: 1;
    }

    100% {}

  }


  @keyframes createServerModalAppear {

    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: scale(1, 1);
    }

  }

  @keyframes createServerModalDisappear {

    0% {
      opacity: 1;
      transform: scale(1, 1);
    }

    70% {
      opacity: 0.5;
    }

    100% {
      transform: scale(0.5, 0.5);
    }

  }










}