// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//user nav bar located in User_nav_container.js calling form user_nav_bar.jsx

.user-nav-bar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 225px;
    padding: 5px;
    background-color: #292B2F;
    position: absolute;
    transform: translate(75px, Calc(100vh - 50px));

}


.user-nav-bar:hover {
    z-index: 3;
}

.fa-microphone,
.fa-headphones {
    color: #B9BBBE;
    padding: 5px;
    padding-top: 10px;
}



.fa-gear {
    color: #B9BBBE;
    padding: 6px;
    padding-top: 10px;
}










// user settings modal