// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//user nav bar located in User_nav_container.js calling form user_nav_bar.jsx

.user-nav-bar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 225px;
    padding: 5px;
    background-color: #292B2F;
    position: absolute;
    transform: translate(75px, Calc(100vh - 50px));

}


.user-nav-bar:hover {
    z-index: 10;
}

.fa-microphone,
.fa-headphones,
.svg-microphone,
.svg-muted-microphone,
.svg-headphone,
.svg-muted-headphone {
    color: #B9BBBE;
    padding: 5px;
    padding-top: 10px;
}



.fa-gear {
    color: #B9BBBE;
    padding: 5px;
    padding-top: 10px;
}

#username {
    display: flex;
}


#username h3 {
    color: #FFFFFF;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 18px;
    font-weight: 600;
    font-family: "Whitney";
    white-space: nowrap;

}


#username p {
    font-size: 12px;
    font-family: "Whitney";
    line-height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: hsl(216, 0.037%, 73.5%);
    font-weight: 400;
}


#user-account-info {
    padding-left: 10px;
    width: 90px;
    overflow-y: auto;
    overflow-x: auto;
}

#user-account-info::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #282A2E;
}

#user-settings-icons a {
    text-decoration: none;
    width: 32px;
}

#user-settings-icons a:hover .fa-gear {
    filter: brightness(150%);
}

#user-settings-icons .fa-headphones:hover {
    filter: brightness(150%);
}

#user-settings-icons .fa-microphone:hover {
    filter: brightness(150%);
}

#user-settings-icons .svg-microphone:hover {
    filter: brightness(150%);

}

#user-settings-icons .svg-muted-microphone:hover {
    filter: brightness(150%);

}


#user-settings-icons .svg-headphone:hover {
    filter: brightness(150%);

}

#user-settings-icons .svg-muted-headphone:hover {
    filter: brightness(150%);

}









.user-settings-toggle {
    width: fit-content;
    // height: 30px;
    height: fit-content;
    font-family: "Ginto";
    font-weight: 500;
    // transform: translate(24px, -65px);
    transform: translate(-2px, -80px);
    visibility: hidden;
    background-color: rgb(25, 25, 25);
    color: #FFFFFF;
    z-index: 25;
    border-radius: 3px;

}

.user-settings-toggle1 {
    width: 105px;
    // height: 30px;
    height: fit-content;
    font-family: "Ginto";
    font-weight: 500;
    // transform: translate(24px, -65px);
    transform: translate(-25px, -80px);
    visibility: hidden;
    background-color: rgb(25, 25, 25);
    color: #FFFFFF;
    z-index: 25;
    border-radius: 3px;

}

.user-settings-toggle2 {
    width: fit-content;
    // height: 30px;
    height: fit-content;
    font-family: "Ginto";
    font-weight: 500;
    // transform: translate(24px, -65px);
    transform: translate(-12px, -80px);
    visibility: hidden;
    background-color: rgb(25, 25, 25);
    color: #FFFFFF;
    z-index: 25;
    border-radius: 3px;

}


.user-settings-toggle-unmute {
    width: 62px;
    // height: 30px;
    height: fit-content;
    font-family: "Ginto";
    font-weight: 500;
    // transform: translate(24px, -65px);
    transform: translate(-12px, -80px);
    visibility: hidden;
    background-color: rgb(25, 25, 25);
    color: #FFFFFF;
    z-index: 25;
    border-radius: 3px;

}


#user-settings-icons a:hover .user-settings-toggle {
    visibility: visible;
}



#user-settings-icons span:hover .user-settings-toggle {
    visibility: visible;

}

#user-settings-icons div:hover .user-settings-toggle {
    visibility: visible;

}

#user-settings-icons .user-settings-toggle:hover {
    visibility: visible;

}

#user-settings-icons a:hover .user-settings-toggle1{
visibility: visible;
}

#user-settings-icons div:hover .user-settings-toggle2{
    visibility: visible;
}



#user-settings-icons {
    display: flex;
    
}

.contain-icon {
    width: 32px;
}

// user settings modal located as user profile container.js and uiser profile.jsx




